<div class="main-container-br">
  <div class="window-br">

    <!-- Window Header -->
    <div class="window-br-header">
      <div class="alert-home-uma">
        <!-- <jhi-alert-error></jhi-alert-error> -->
      </div>
      <div class="r1">
        <div class="logo-home-mini"></div>
      </div>
      <div class="r2">
        <div class="windowHeader-title disbled-t-header">
          <!-- <div class="icon-step-header"></div> -->
          <h4>Constructor de UMA / </h4>
        </div>
        <div class="windowHeader-title">
          <h4>Registro de UMA</h4>
        </div>
        <div class="c1">
        </div>
      </div>
    </div>

    <div class="window-br-body-topbar">
      <div class="line-gradient lg-step1"></div>
      <div class="row-wbr-bt">
        <p>Completa los campos</p>
      </div>
    </div>

    <!-- Body -->
    <div class="window-br-body">
      <jhi-modulo-update></jhi-modulo-update>
    </div>
    <!-- Footer -->
    <div class="window-br-footer">
      <button routerLink="/uma-home" class="secondary-btn">Cancelar</button>
      <button (click)="saveUMA()" class="main-btn" [disabled]="firstClick">Crear UMA</button>
    </div>

  </div>
</div>
