<div class="main-container-module">

  <div class="window-module-configuration">
    <div class="window-module-header">
      <div class="module-header-topbar">
        <div class="module-window-title">Configuración</div>
      </div>
    </div>

    <div class="window-module-body">
      <jhi-modulo-update></jhi-modulo-update>
    </div>

    <div class="window-module-footer">
      <button routerLink="/" class="secondary-btn">Cancelar</button>
      <button (click)="saveModule()" class="main-btn">Crear Módulo</button>
    </div>
  </div>

</div>