<div class="main-container-br">
  <div class="window-br">

    <!-- Header -->
    <div class="window-br-header">
      <h4>Configurar UMA</h4>
    </div>
    <div class="window-br-body-topbar">
      <div class="line-gradient"></div>
        <p>Configura Uma</p>
    </div>
    <!-- Body -->
    <div class="window-br-body">
      <jhi-modulo-update></jhi-modulo-update>
    </div>
    <!-- Footer -->
    <div class="window-br-footer">
      <button routerLink="/uma-home" class="secondary-btn">Cancelar</button>
      <button (click)="saveUMA()" class="main-btn" [disabled]="firstClick">Crear UMA</button>
    </div>

  </div>
</div>
