@import '../../content/scss/variables.scss';

.main-container-module {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 750px;
  background-color: $background-color-blue;
  display: flex;
  justify-content: center;
}

.window-module-configuration {
  position: relative;
  width: 92%;
  max-width: 1150px;
  height: 650px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 70px;

  .window-module-header {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: $window-header-color;
    border-radius: 6px 6px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $window-divider-color;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .module-header-topbar {
      position: relative;
      width: 100%;
      height: 40px;
      background-color: $window-header-color;
      border-radius: 4px 4px 0 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .module-window-title {
        position: relative;
        width: auto;
        height: auto;
        font-size: 15px;
      }
    }
  }
}

// Window Body
.window-module-body {
  position: relative;
  min-height: 550px;
  width: 100%;
  background-color: $window-body-color;
}

// Footer
.window-module-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 1em;

  button {
    display: inline-block;
  }
}
