@import '../../content/scss/variables.scss';

.main-groups-uma-container {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 800px;
  background-color: $background-color-blue;
  display: flex;
  justify-content: center;
  background-image: url('../../content/images/bg2.png');
  background-position: center;
  background-size: 1800px;
  background-repeat: no-repeat;

  .alert-sequence-configuration {
    // border    : solid 2px red;
    height: auto;
    margin: 0 auto;
    position: absolute;
    top: 80px;
    transition: 0.3s;
    z-index: 99999;
    width: 400px;
  }

  .window-home-groups {
    position: relative;
    width: 92%;
    max-width: 1150px;
    height: 700px;
    margin-top: 70px;
    border-radius: 6px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: column;
    justify-content: center;

    // Window Header
    .window-home-groups-header {
      position: relative;
      width: 100%;
      height: 100px;
      background-color: $window-header-color;
      border-radius: 6px 6px 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid $window-divider-color;

      .r1 {
        position: relative;
        width: 220px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo-create {
          position: relative;
          width: 152px;
          height: 54px;
          background-image: url('../../content/images/logo_create.svg');
          background-position: center;
          background-size: 100%;
          background-repeat: no-repeat;
        }
      }

      .r2 {
        position: relative;
        width: calc(100% - 220px);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .windowHeader-title {
          position: relative;
          width: auto;
          height: 50px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          border-left: 2px solid $blue-nimbus-dark;
          padding-left: 20px;

          .icon {
            position: relative;
            margin-right: 10px;
            width: 30px;
            height: 30px;
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
          }

          .whGroupUma {
            // ESTE ICONO DEBERÍA CAMBIAR POR EL CORRESPONDIENTE A LAS UMAS
            background-image: url('../../content/images/module_icon.svg');
          }

          h4 {
            position: relative;
            font-size: 18px;
            font-weight: 600;
            color: $blue-nimbus-dark;
          }
        }

        .c1 {
          position: absolute;
          width: 300px;
          height: auto;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          right: 0px;
          bottom: 20px;

          .button-hc {
            position: relative;
            width: 100px;
            height: auto;
            font-size: 13px;
            line-height: 18px;
            font-weight: 600;
            color: $a-color-nd;
            cursor: default;
            opacity: 0.8;
            margin-right: 8px;

            .icon {
              float: left;
              margin-right: 6px;
              cursor: default;
            }
          }
        }
      }
    }

    // Window body
    .home-groups-body {
      // border: solid 1px black;
      position: relative;
      width: 100%;
      height: 475px;
      background-color: $window-body-color;
      overflow-y: auto;
      padding-bottom: 30px;

      // container search fields
      .search-main-container {
        margin: 15px auto;
        width: 94%;

        // container search and filter fields
        .container-search-form-uma {
          display: flex;
          justify-content: space-around;
          margin-top: 1em;
          flex-direction: column;

          // box general search
          .row-search-gral {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            align-items: center;

            .txt-recent-umas {
              display: flex;
              align-items: center;
              // align-self: start;
              min-width: 200px;
            }

            .mat-form-field {
              width: 100%;
            }
          }

          // close .row-search-gral

          .container-field-filter {
            border: 1px solid #a4b9e2;
            padding: 4px 6px;
            border-radius: 6px;

            // filter uma fields
            .row-filter-uma {
              // border: solid 1px red;
              display: grid;
              grid-template-columns: repeat(3, 1fr);

              .mat-form-field {
                width: 90%;
              }

              .btn-search-group {
                display: flex;
                align-items: center;

                span {
                  font-size: 13px;
                  padding-right: 3px;
                }
              }
            }
          }

          // close container-field-filter
        }

        // close container-search-form-uma
      }

      // container with results after to execute search
      .result-search-container {
        margin: 15px auto;
        width: 94%;

        .container-result-groups {
          // border: solid 1px red;
          display: grid;
          grid-template-columns: repeat(4, 1fr);

          .group-cover-panel {
            // border: solid 1px red;
            position: relative;
            width: 200px;
            height: auto;
            max-height: 250px;
            // overflow-y: auto;
            margin-left: 14px;
            margin-right: 14px;
            margin-top: 16px;
            margin-bottom: 4px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            cursor: pointer !important;

            .title-panel {
              font-size: 14px;
              margin-right: 5px;
            }

            .panel-body-group {
              // border: solid 1px red;
              max-height: 180px;
              padding-top: 20px;
              overflow-y: auto;
              position: relative;

              .delete-group {
                // border: solid 1px green;
                bottom: 8px;
                position: sticky; //  absolute;
                right: 10px;
                width: 30px;
                height: 30px;
                background-color: $main-btn-color;
                z-index: 2;
                transition: 0.3s;
                border-radius: 50%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .icon {
                  cursor: pointer;
                }

                &:hover {
                  background-color: $main-btn-color-hover;
                }

                &:focus {
                  outline: none;
                }

                &:active {
                  transform: scale(0.96);
                }
              }
            }
          }
        }
      }
    }

    .home-groups-footer {
      // border: solid 1px black;
      position: relative;
      width: 100%;
      height: 75px;
      background-color: $window-footer-color;
      border-top: 1px solid $window-divider-color;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0 0 6px 6px;

      button {
        margin-left: 20px;
        margin-right: 20px;
      }
    }
  }
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled='true']) {
  background: transparent;
}
