<!-- delete class css main-groups-uma-container -->
<div class="main-container-br">
    <div [ngSwitch]="isAuthenticated()" *jhiHasAnyAuthority="'ROLE_USER'" class="window-br">

      <!-- Window Header -->
      <div class="window-br-header">
        <div class="alert-sequence-configuration">
            <jhi-alert-error></jhi-alert-error>
        </div>
        <div class="r1">
          <div class="logo-home-mini"></div>
        </div>

        <div class="r2">
          <div class="windowHeader-title">
            <!-- <div class="icon-step-header"></div> -->
            <h4 jhiTranslate="homegroup.title">Agrupador de UMA</h4>
          </div>
          <div class="c1">
          </div>
        </div>
      </div>

      <div class="window-br-body-topbar">
          <div class="line-gradient lg-step2"></div>
          <div class="row-wbr-bt">
            <p jhiTranslate="homegroup.your">Tus Agrupadores ({{secuenciasUma!.length}})</p>

            <form name="groupUmaForm" role="form" [formGroup]="groupUmaForm" autocomplete="off" class="form-uma-search">
              <mat-form-field appearance="outline">
                <mat-label jhiTranslate="homegroup.search">Buscar</mat-label>
                <input type="text" placeholder="" matInput formControlName="tituloAgrupador"
                  [matAutocomplete]="autoInputTituloAgrupador">
                <mat-autocomplete autoActiveFirstOption #autoInputTituloAgrupador="matAutocomplete"
                  [displayWith]="displayFn">
                  <!-- <mat-option *ngFor="let option of filteredSequencesUmas! | async" [value]="option">
                      {{option.titulo}}
                  </mat-option> -->
                </mat-autocomplete>
              </mat-form-field>
            </form>

          </div>
      </div>

      <!-- Window Empty -->
      <div class="emty-e" *ngIf="!secuenciasUma.length">
        <div class="container-br-message">
          <div class="br-message">
            <div class="brm-1">
              <div class="br-message-icon"></div>
            </div>
            <div class="brm-2">
              <p>
                  <label jhiTranslate="homegroup.greet">¡Hola!</label><br>
                  <label jhiTranslate="homegroup.welcome">Bienvenido a </label>
                  <span>Nimbus Constructor</span>.
              </p>
              <p jhiTranslate="homegroup.start">Para comenzar da click en el botón "Crear Agrupador".</p>
            </div>
          </div>
        </div>
      </div>


      <div class="window-br-body">
        <div class="result-search-container">

          <!-- <p>Resultados de la búsqueda de secuencias/agrupadores de UMAs... ( {{secuenciasUma.length}} )</p> -->
          <div class="grid-cards">
            <div class="box-card" *ngFor="let sec of secuenciasUma"
               [routerLink]="['/sequence-configuration', sec.id]">
               <!-- <div *ngFor="let sec of filteredSequencesUmas! | async"> NO BORRAR ESTA LINEA -->
                   <!-- <mat-nav-list> -->

               <div class="group-cover-br-image"><span></span></div>

                <div class="edit-course-br" [routerLink]="['/sequence-configuration', sec.id]">
                    <i class="icon ni-edit icon-negative"></i>
                </div>

               <div (click)="deleteGroup(sec, $event)" class="delete-course-br">
                 <i class="icon ni-delete icon-negative"></i>
               </div>

               <div class="course-desc-br-row">

                 <span class="title-course-br"
                       *ngIf="sec.titulo">{{sec.titulo.length > 30 ? sec.titulo.substring(0, 30) + "..." : sec.titulo}}</span>

                 <span class="desc-course-br"
                     *ngIf="sec.descripcion">{{sec.descripcion!.length > 28 ? sec.descripcion!.substring(0, 28) + "..." : sec.descripcion!}}</span>
               </div>

            </div>
          </div>

        </div>
      </div>
      <!-- close window-br-body div -->

      <!-- Window footer -->
      <div class="window-br-footer">
          <button routerLink="/" class="secondary-btn" jhiTranslate="homegroup.back">Regresar</button>
          <button routerLink="/group-configuration" class="main-btn" jhiTranslate="homegroup.new">Nuevo Agrupador</button>
      </div>

    </div>
    <!-- close div isAuthenticated -->
</div>
