<!-- delete class css main-groups-uma-container -->
<div class="main-container-br">
    <div [ngSwitch]="isAuthenticated()" *jhiHasAnyAuthority="'ROLE_USER'" class="window-br">
        <!-- Window Header -->
        <div class="window-br-header">
            <div class="alert-sequence-configuration">
                <jhi-alert-error></jhi-alert-error>
            </div>
            <div class="r1">
                <div class="logo-create"></div>
            </div>
            <div class="r2">
                <div class="windowHeader-title"><i class="icon whGroupUma"></i>
                    <h4>Agrupador de UMAs</h4>
                </div>
                <div class="c1">
                    <div class="button-hc"><i class="icon ni-support"></i>Soporte</div>
                    <div class="button-hc"><i class="icon ni-help"></i>Ayuda</div>
                </div>
            </div>
        </div>

        <div class="window-br-body-topbar">
            <div class="line-gradient"></div>
            <div class="row-wbr-bt">
                <p>Tus grupos recientes ({{secuenciasUma!.length}})</p>
            </div>
        </div>

        <!-- Window Empty -->
        <div class="window-br-body">
            <div class="search-main-container">
                <form name="groupUmaForm" role="form" [formGroup]="groupUmaForm">
                    <div class="container-search-form-uma">
                        <div class="row-search-gral">
                            <mat-form-field>
                                <input type="text" placeholder="Buscar" matInput formControlName="tituloAgrupador"
                                    [matAutocomplete]="autoInputTituloAgrupador">
                                <mat-autocomplete autoActiveFirstOption #autoInputTituloAgrupador="matAutocomplete"
                                    [displayWith]="displayFn">
                                    <mat-option *ngFor="let option of filteredSequencesUmas! | async" [value]="option">
                                        {{option.titulo}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>

                        <div class="container-field-filter">
                            <p>Filtrar por:</p>

                            <div class="row-filter-uma">
                                <mat-form-field>
                                    <mat-label>Título del Grupo</mat-label>
                                    <input matInput formControlName="sequenceTitleFormCtrl"
                                        [errorStateMatcher]="matcher" placeholder="Filtrar por título del grupo">
                                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                                    <mat-error *ngIf="groupUmaForm!.get('sequenceTitleFormCtrl')!.hasError('required')">
                                        Captura el título del UMA para filtrar.
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field>
                                    <mat-label>Descripción</mat-label>
                                    <input matInput formControlName="sequenceDescriptionFormCtrl"
                                        [errorStateMatcher]="matcher" placeholder="filtrar por parte de la descripción">
                                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                                    <mat-error
                                        *ngIf="groupUmaForm!.get('sequenceDescriptionFormCtrl')!.hasError('maxlength')">
                                        La descripción del UMA a filtrar no debe superar los 50 caracteres.
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field>
                                    <mat-label>Área de Conocimiento</mat-label>
                                    <input matInput formControlName="sequenceAreaKnowledgeFormCtrl"
                                        placeholder="Filtrar por área de conocimiento">
                                </mat-form-field>

                            </div>
                            <div class="row-filter-uma">
                                <mat-form-field>
                                    <mat-label>Nivel Académico</mat-label>
                                    <input matInput formControlName="sequenceAcademicGradeFormCtrl"
                                        placeholder="Filtrar por nivel académico">
                                </mat-form-field>

                                <mat-form-field>
                                    <mat-label>Tema del Grupo</mat-label>
                                    <input type="text" placeholder="Filtrar por tema del grupo" matInput
                                        formControlName="sequenceTopicFormCtrl">
                                </mat-form-field>
                            </div>
                        </div>

                    </div>

                    <div class="btn-search-group">
                        <button (click)="searchUmas()" class="main-btn">
                            Buscar
                        </button>
                    </div>
                </form>

            </div>
            <!-- close search-main-container -->

            <div class="result-search-container">

                <!-- expansion panel cool -->
                <div *ngIf="secuenciasUma!.length">
                    <!-- <p>Resultados de la búsqueda de secuencias/agrupadores de UMAs... ( {{secuenciasUma.length}} )</p> -->
                    <div class="grid-cards">
                        <!-- <div *ngFor="let sec of secuenciasUma">    NO BORRAR ESTA LINEA-->
                        <div *ngFor="let sec of filteredSequencesUmas! | async">
                            <!-- <mat-nav-list> -->
                            <div class="box-card" [routerLink]="['/sequence-configuration', sec.id]">
                                <div class="group-cover-br-image"></div>

                                <div (click)="deleteGroup(sec, $event)" class="delete-course-br">
                                    <i class="icon ni-delete icon-negative"></i>
                                </div>
                                <!-- Preview -->
                                <!-- <div class="preview-course-br">
                                    <i class="icon ni-view icon-negative"></i>
                                </div> -->

                                <div class="course-desc-br-row">
                                    <span class="title-course-br">
                                        {{sec.titulo}}</span>
                                    <span class="desc-course-br"
                                        *ngIf="sec.descripcion">{{sec.descripcion!.length > 28 ? sec.descripcion!.substring(0, 28) + "..." : sec.descripcion!}}</span>
                                </div>

                            </div>


                        </div>
                    </div>

                </div>

            </div>


        </div>
        <!-- close window-br-body div -->

        <!-- Window footer -->
        <div class="window-br-footer">
            <button routerLink="/" class="secondary-btn">Regresar</button>
            <button routerLink="/group-configuration" class="main-btn">Crear Grupo</button>
        </div>

    </div>
    <!-- close div isAuthenticated -->

</div>
