<div class="main-container-br">

    <div [ngSwitch]="isAuthenticated()" *jhiHasAnyAuthority="'ROLE_USER'" class="window-br">
        <!-- Window Header -->
        <div class="window-br-header">
            <div class="r1">
                <div class="logo-create"></div>
            </div>
            <div class="r2">
                <div class="windowHeader-title"><i class="icon whGroupUma"></i>
                    <h4>Agrupador de UMAs</h4>
                </div>
                <div class="c1">
                    <div class="button-hc"><i class="icon ni-support"></i>Soporte</div>
                    <div class="button-hc"><i class="icon ni-help"></i>Ayuda</div>
                </div>
            </div>
        </div>
        <!-- close header -->

        <!-- Window Empty -->
        <div class="window-br-body">
            <div class="search-main-container">
                <form name="groupUmaForm" role="form" [formGroup]="groupUmaForm">

                    <div class="container-search-form-uma">

                        <div class="row-search-gral">
                            <p class="txt-recent-umas">Tus secuencias recientes ({{secuenciasUma.length}})</p>
                            <div>
                                <mat-form-field>
                                    <input type="text" placeholder="Buscar" matInput formControlName="sessionType"
                                        [matAutocomplete]="autoInputSessionType">
                                    <mat-autocomplete autoActiveFirstOption #autoInputSessionType="matAutocomplete"
                                        [displayWith]="displayFn">
                                        <mat-option *ngFor="let option of filteredTypeOpts | async" [value]="option">
                                            {{option.descripcion}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="container-field-filter">
                            <p>Filtrar por:</p>

                            <div class="row-filter-uma">
                                <div>
                                    <mat-form-field>
                                        <mat-label>Título</mat-label>
                                        <input matInput formControlName="umaTitleFormCtrl" [errorStateMatcher]="matcher"
                                            placeholder="Título del UMA">
                                        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                                        <mat-error *ngIf="groupUmaForm.get('umaTitleFormCtrl').hasError('required')">
                                            Captura el título del UMA para filtrar.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field>
                                        <mat-label>Descripción</mat-label>
                                        <input matInput formControlName="umaDescriptionFormCtrl"
                                            [errorStateMatcher]="matcher" placeholder="título de la sesión">
                                        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                                        <mat-error
                                            *ngIf="groupUmaForm.get('umaDescriptionFormCtrl').hasError('maxlength')">
                                            La descripción del UMA a filtrar no debe superar los 50 caracteres.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field>
                                        <input type="text" placeholder="Área de conocimiento" matInput
                                            formControlName="umaAreaKnowledge" [matAutocomplete]="autoInputSubject">
                                        <mat-autocomplete autoActiveFirstOption #autoInputSubject="matAutocomplete"
                                            [displayWith]="displayFn">
                                            <mat-option *ngFor="let option of filteredSubjectOpts | async"
                                                [value]="option">
                                                {{option.descripcion}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row-filter-uma">
                                <div>
                                    <mat-form-field>
                                        <input type="text" placeholder="Nivel Académico" matInput
                                            formControlName="sessionTopic" [matAutocomplete]="autoInputTopic">
                                        <mat-autocomplete autoActiveFirstOption #autoInputTopic="matAutocomplete"
                                            [displayWith]="displayFn">
                                            <mat-option *ngFor="let option of filteredTopicOpts | async"
                                                [value]="option">
                                                {{option.descripcion}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field>
                                        <input type="text" placeholder="Tema" matInput formControlName="sessionTopic"
                                            [matAutocomplete]="autoInputTopic">
                                        <mat-autocomplete autoActiveFirstOption #autoInputTopic="matAutocomplete"
                                            [displayWith]="displayFn">
                                            <mat-option *ngFor="let option of filteredTopicOpts | async"
                                                [value]="option">
                                                {{option.descripcion}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                                <div class="btn-search-group">
                                    <button (click)="searchUmas()" class="main-btn">
                                        <span class="material-icons">search</span>
                                        Buscar
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>

            </div>
            <!-- close search-main-container -->

            <div class="result-search-container">

                <!-- expansion panel cool -->
                <div *ngIf="secuenciasUma.length">
                    <p>Resultados de búsqueda de secuencias/agrupadores de UMAs... ( {{secuenciasUma.length}} )</p>
                    <div class="container-result-groups">
                        <div *ngFor="let sec of secuenciasUma">
                            <!-- <mat-nav-list> -->
                            <mat-expansion-panel class="group-cover-panel"
                                matTooltip="Despliegue para ver más detalles">
                                <mat-expansion-panel-header [collapsedHeight]="'70px'" [expandedHeight]="'200px'">
                                    <span class="title-panel">
                                        {{sec.titulo}}
                                    </span>
                                </mat-expansion-panel-header>

                                <div class="panel-body-group">

                                    <div (click)="deleteModule(sec.id, $event)" class="delete-group">
                                        <i class="icon ni-delete icon-negative"></i>
                                    </div>

                                    <div class="">
                                        <!--mat-list-item-->
                                        <span class="desc-group-panel"
                                            [routerLink]="['/constructor-layout', sec.id, 'module']"
                                            *ngIf="sec.descripcion">{{sec.descripcion.length > 48 ? sec.descripcion.substring(0, 48) + "..." : sec.descripcion}}</span>

                                        <p>Aquí podría ir más contenido que crean necesario, iconos o algo cool.</p>
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate
                                            laudantium ullam sed, ipsa perferendis quisquam earum beatae repellat, quos,
                                            aut impedit voluptatibus nemo similique quod?</p>

                                    </div>

                                </div>


                            </mat-expansion-panel>
                            <!-- </mat-nav-list> -->

                        </div>
                    </div>

                </div>

                <hr>

                <!-- expansion panel -->
                <div *ngIf="secuenciasUma.length">
                    <p>Resultados de búsqueda de secuencias/agrupadores de UMAs... ( {{secuenciasUma.length}} )</p>
                    <div class="groups-search-row">
                        <div *ngFor="let sec of secuenciasUma">
                            <!-- <mat-nav-list> -->
                            <mat-expansion-panel class="group-cover-panel_"
                                matTooltip="Despliegue para ver más detalles">
                                <mat-expansion-panel-header>
                                    <span class="title-panel">
                                        {{sec.titulo}}
                                    </span>
                                </mat-expansion-panel-header>

                                <div class="group-body-panel exp-pan-group-item">

                                    <div (click)="deleteModule(sec.id, $event)" class="delete-group-panel">
                                        <i class="icon ni-delete icon-negative"></i>
                                    </div>

                                    <div class="group-panel-content">
                                        <!--mat-list-item-->
                                        <span class="desc-group-panel"
                                            [routerLink]="['/constructor-layout', sec.id, 'module']"
                                            *ngIf="sec.descripcion">{{sec.descripcion.length > 48 ? sec.descripcion.substring(0, 48) + "..." : sec.descripcion}}</span>

                                        <p>Aquí podría ir más contenido que crean necesario, iconos o algo cool.</p>

                                    </div>

                                </div>


                            </mat-expansion-panel>
                            <!-- </mat-nav-list> -->

                        </div>
                    </div>

                </div>

                <hr>

                <!-- cuadros -->
                <div *ngIf="secuenciasUma.length">
                    <p>Resultados de búsqueda de secuencias/agrupaciones de UMAs... ( {{secuenciasUma.length}} )</p>

                    <div class="groups-search-row">
                        <div class="group-cover-br" *ngFor="let sec of secuenciasUma"
                            [routerLink]="['/constructor-layout', sec.id, 'module']">

                            <div class="group-cover-br-margin">
                                <!-- <img class="course-cover-br-image" [src]="defaultModuleUrl" alt="" *ngIf="sec.sanitizedPortadaUrl"> -->
                                <div class="group-cover-br-image"></div>
                            </div>

                            <div (click)="deleteModule(sec.id, $event)" class="delete-group-br">
                                <i class="icon ni-delete icon-negative"></i>
                            </div>

                            <div class="group-desc-br-row">
                                <span class="title-group-br"
                                    *ngIf="sec.titulo">{{sec.titulo.length > 48 ? sec.titulo.substring(0, 48) + "..." : sec.titulo}}</span>
                                <span class="desc-group-br"
                                    *ngIf="sec.descripcion">{{sec.descripcion.length > 48 ? sec.descripcion.substring(0, 48) + "..." : sec.descripcion}}</span>
                            </div>

                        </div>
                    </div>

                </div>
            </div>


        </div>
        <!-- close window-br-body div -->

        <!-- Window footer -->
        <div class="window-br-footer">
            <button routerLink="/" class="secondary-btn">Regresar</button>
            <button routerLink="/group-configuration" class="main-btn">Crear Agrupador</button>
        </div>

    </div>
    <!-- close div isAuthenticated -->

</div>