.main-container-path-config {
  position: relative;
  width: 100%;
  height: auto;
}

.window-path-config-body {
  position: relative;
  width: 94%;
  max-width: 1280px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  .config-path-form {
    position: relative;
    width: 64%;
    height: auto;
    form {
      position: relative;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
    }
  }
  .portada-path {
    position: relative;
    width: 32%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    h4 {
      position: relative;
      width: 100%;
      height: 45px;
      color: #1a3d82;
    }
    .portada-envolvente {
      position: relative;
      width: 100%;
      height: 350px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      justify-content: center;
      // background-color: #f9fafb;
      background-color: #eff2f9;
      border-radius: 6px;
    }
    .conver-path {
      position: relative;
      width: 260px;
      height: auto;
      border: 2px solid #bac4d9;
      border-radius: 10px;
      overflow: auto;
      img {
        width: 100%;
        height: auto;
      }
    }
    .path-cover-btns {
      position: relative;
      width: 260px;
      height: auto;
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }
    p {
      position: relative;
      width: 260px;
      height: auto;
      margin-top: 10px;
    }
  }
}
.row-title-program {
  position: relative;
  width: 100%;
  height: auto;
  h4 {
    color: #1a3d82;
  }
}
.rc-search-flearning {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  .cc-search-flearning {
    position: relative;
    width: 48%;
    height: auto;
    .mat-form-field {
      position: relative;
      width: 100%;
    }
  }
}
.row-form-p1 {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 10px;
  mat-radio-group {
    mat-radio-button {
      margin-left: 20px;
    }
  }
}
.row-form-p2 {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  .col-form-p2 {
    position: relative;
    width: 48%;
    height: auto;
    .mat-form-field {
      position: relative;
      width: 100%;
    }
  }
}
.col-form-p3 {
  position: relative;
  width: 48%;
  height: auto;
  display: flex;
  flex-direction: column;
  .mat-form-field {
    position: relative;
    width: 100%;
  }
  .chips-grades {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
}
