<!-- Bloque de contenido: Subtitulo-->
<div class="col-cb-title" *ngIf="contentBlock && contentBlock.bloqueComponentes">
    <div class="b-title-text" *ngFor="let component of contentBlock.bloqueComponentes.componentes!; let index = index;">
        <div *ngIf="contentBlock.bloqueComponentes.tipoBloqueComponentes">
            <jhi-constructor-sound
                [component]="component"
                (updateComponent)="onUpdateComponent($event, index)">
            </jhi-constructor-sound>
        </div>
    </div>
</div>
