<div>
    <mat-form-field appearance="outline">
        <mat-chip-list #chipList aria-label="Colaboradores y Roles">
            <mat-chip *ngFor="let rc of listRolesColaboradores" [selectable]="selectable" [removable]="removable"
                (removed)="removeColaborador(rc)">
                {{ (rc.colaborador.nombres + ' ' + rc.colaborador.apellido1 + ' - ' + rc.rolColaborador.descripcion).substring(0, 25) }}
                <mat-icon matChipRemove *ngIf="removable">
                    <span jhiTranslate="uma.form.cancel">cancel</span>
                </mat-icon>
            </mat-chip>
            <input placeholder="{{'uma.form.collaborators' | translate}}" #colaboradorInput [formControl]="colaboradorCtrl"
                [matAutocomplete]="auto" [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addColaborador($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedColaborador($event)">
            <mat-option *ngFor="let rcOpt of filteredRolesColaboradores | async" [value]="rcOpt">
                {{(rcOpt.colaborador.nombres + " " + rcOpt.colaborador.apellido1 + " " + rcOpt.colaborador.apellido2 + " - " + rcOpt.rolColaborador.descripcion).substring(0, 30)}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>
