<div class="main-container-br main-container-module">
  <div class="window-group-configuration">
    <!-- Window Header -->
    <div class="window-group-header">
      <div class="group-header-topbar">
        <div class="cch-title module-window-title">Configurar Grupo de UMAs</div>
      </div>
    </div>
    <!-- Window Body -->
    <div class="window-group-body">
      <jhi-agrupador-uma-update></jhi-agrupador-uma-update>
    </div>
    <!-- Window Footer -->
    <div class="window-group-footer">
      <button routerLink="/uma-groups-home" class="secondary-btn">Cancelar</button>
      <!-- <button (click)="saveUMA()" class="main-btn" [disabled]="firstClick">Crear Secuencia</button> -->
    </div>

  </div>
</div>