<div class="main-container-br main-container-module">
  <div class="window-group-configuration">
    <!-- Window Header -->
    <div class="window-group-header">
      <div class="group-header-topbar">
        <div class="cch-title module-window-title">Configurar Grupo de UMAs</div>
      </div>
    </div>
    <!-- Window Body -->
    <div class="window-group-body">

      <div [ngSwitch]="isAuthenticated()" *jhiHasAnyAuthority="'ROLE_USER'">

        <div class="container-stepper-group">
          <p>{{isCompleted}}</p>
          <mat-horizontal-stepper [linear]="!isCompleted" #stepper>

            <mat-step [stepControl]="formSteps?.get([0])" editable="false">

              <ng-template matStepLabel>Registro de Grupo de UMAS</ng-template>
              <jhi-agrupador-uma-update (createdGroupEventEmit)="setAgrupador($event)" (formCreateEvent)="setCreateForm($event)" ></jhi-agrupador-uma-update>

            </mat-step>

            <mat-step><!--[stepControl]="secondFormGroup"-->

              <ng-template matStepLabel>Crear secuencia del Grupo</ng-template>
              <!-- componente que contiene contenido de paso 2 para crear la secuencia/agrupación de umas una vez generado el Grupo -->
              <jhi-secuencia-uma-update [createGroup]="createdGroupSequence"></jhi-secuencia-uma-update>

            </mat-step>

          </mat-horizontal-stepper>
        </div>
      </div>


    </div>
    <!-- Window Footer -->
    <!-- <div class="window-group-footer">
      <button routerLink="/uma-groups-home" class="secondary-btn">Cerrar</button>
    </div> -->

  </div>
</div>