.container-stepper-group {
}
.mat-stepper-horizontal {
  background-color: transparent;
  position: relative;
  width: 100%;
  height: auto;
}
.container-stepper-group {
  position: relative;
  width: 100%;
  height: auto;
}
