<mat-list *ngFor="let pregunta of preguntas(); let indQuestion = index;" class="mat-test">
    <mat-divider></mat-divider>
    <mat-list-item class="style-question"><span class="qNumber">{{indQuestion + 1}}</span>¿ {{pregunta.pregunta}} ?</mat-list-item>
    <mat-list role="list"  *ngFor="let respuesta of respuestas(indQuestion);" class="style-answer">
        <mat-list-item role="listitem" [ngClass]="{'rojita': respuesta.correcta}">{{respuesta.respuesta}}</mat-list-item>
    </mat-list>
</mat-list>
