<!-- Bloque de contenido: Relacionar -->
<!-- Bloque 20 -->
<div class="row-activity-19" *ngIf="contentBlock && contentBlock.bloqueComponentes && contentBlock.bloqueComponentes.componentes">
    <div *ngFor="let component of contentBlock.bloqueComponentes.componentes; let index = index;">
        <div *ngIf="component && component.tipoComponente && component.tipoComponente.nombre === 'activity'">
            <jhi-constructor-matching [component]="component"></jhi-constructor-matching>
        </div>
    </div>
</div>
