<div>
    <mat-form-field appearance="outline">
        <mat-chip-list #chipList aria-label="Temas del UMA">
            <mat-chip *ngFor="let th of listThemes" [selectable]="selectable" [removable]="removable"
                (removed)="removeTopic(th)">
                {{th.nombre}}
                <mat-icon matChipRemove *ngIf="removable">
                    <span jhiTranslate="uma.form.cancel">cancel</span>
                </mat-icon>
            </mat-chip>
            <input placeholder="{{'uma.form.topic' | translate}}" #topicInput [formControl]="topicCtrl" [matAutocomplete]="auto"
                [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="addTopic($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTheme($event)">
            <mat-option *ngFor="let thOpt of filteredThemes | async" [value]="thOpt">
                {{thOpt.nombre}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>
