<div class="main-container-br" *ngIf="isAuthenticated()">
    <div class="window-br">

      <!-- Window Header -->
      <div class="window-br-header">
        <div class="row-br-header">
          <div class="header-breadcrumbs">
            <div class="logo-home" routerLink="/"><i class="icon ni-nimbus"></i></div>
            <h4 class="hb-title hbt-disabled" routerLink="/learning-home" jhiTranslate="constructorApp.path.home.titleBread"> / Creador de programas</h4>
            <h4 class="hb-title" jhiTranslate="constructorApp.path.home.titleConfgProgram">/ Configurar Programa</h4>
          </div>
          <div class="alert-path-configuration alert-nimbus-window">
              <jhi-alert-error></jhi-alert-error>
          </div>
        </div>
      </div>

      <!-- Window topbar -->
      <div class="window-br-body-topbar">
        <div class="line-gradient lg-step3"></div>
      </div>


        <!-- Body -->
        <div class="window-br-body">
            <div [ngSwitch]="isAuthenticated()" *jhiHasAnyAuthority="'ROLE_USER'">
                <div class="container-stepper-group">
                    <jhi-learing-path-update></jhi-learing-path-update>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div class="window-br-footer">
            <button routerLink="/learning-home" matTooltip="Regresar al Home." class="secondary-btn">Cancelar</button>
            <button (click)="configLearningPath($event)" class="main-btn create-btn" matTooltip="Guardar y/o actualizar Ruta."
                [disabled]="false">Continuar</button>
        </div>

    </div>
</div>
