@import '../../../content/scss/variables.scss';
.properties-block-component {
  position: relative;
  width: 100%;
  height: auto;
  border-top: 1px solid $border-light;
  padding-top: 20px;
  margin-top: 20px;
  h6 {
    position: relative;
    width: 100%;
    height: auto;
    font-size: 12px;
    color: #1a3d82;
  }
}
.pf-item {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 15px;

  label {
    position: relative;
    width: 35%;
    height: auto;
    font-size: 12px;
    color: #1a3d82;
  }
  input {
    position: relative;
    width: 65%;
    height: auto;
    font-size: 12px;
    height: 27px;
    padding-left: 8px;
    padding-right: 8px;
    border: 0;
    background-color: $input-light;
    color: lightslategrey;
    border-radius: 4px;
  }
}
.row-switch-p {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 10px;
}
