<form [formGroup]="activityForm" (keydown)="onKeyDown($event)">
    <div formArrayName="preguntas"
         *ngFor="let pregunta of controlesPreguntas(); let indQuestion = index;" class="content-preguntas">
        <!-- <mat-divider></mat-divider> -->
        <!-- Ingresar pregunta -->
        <div class="row-wg row-apc">
            <div class="col-question" [formGroupName]="indQuestion">
                <mat-form-field>
                    <mat-label><label
                        for="id_question{{indQuestion}}">Pregunta {{indQuestion + 1}}
                        *</label></mat-label>
                    <input matInput [ngClass]="{'alert-input': !isValidQuestion(indQuestion)}"
                           class="form-control height24"
                           formControlName="pregunta" placeholder="Haz una pregunta ..."
                           name="pregunta{{indQuestion}}"
                           id="id_question{{indQuestion}}">
                    <div class="form-nimbus">
                        <div *ngIf="!isValidQuestion(indQuestion)" class="form-alert">
                            <p>Longitud entre 1 y 100 caracteres, validar sus respuestas</p>
                        </div>
                    </div>
                </mat-form-field>
            </div>
            <div class="col-delete-question">
                <input type="button" (click)="removeQuestion(indQuestion)" class="btn-circle bs-danger"  [ngClass]="{'btn-circle-disabled': controlesPreguntas().length <= 1}"
                       (keydown.enter)="removeQuestion(indQuestion)" [disabled]="controlesPreguntas().length <= 1"/>
                    <!--<i class="icon ni-delete icon-negative"></i>-->
            </div>
        </div><!-- Ingresar pregunta -->

        <jhi-activity-answers [activityForm]="activityForm" [submitted]="submitted" [indQuestion]="indQuestion"
                              [groupQuestion]="pregunta" [typeQuestion]="typeQuestion" [id]="id" [filesAnswersDelete]="filesAnswersDelete">
        </jhi-activity-answers>


    </div><!-- Preguntas -->

    <div class="row-add-question">
        <button class="main-btn" (click)="addQuestion()"
                [disabled]="controlesPreguntas().length >= 10">
            <i class="icon ni-add icon-negative"></i>
            <span>Agregar Pregunta</span>
        </button>
    </div>
</form>
