<div class="container-path-hierarchical" [ngSwitch]="isAuthenticated()">

    <div class="window-path-hierarchical-body">
        <div class="hierarchical-bar">
            <button class="main-btn" (click)="addLevel()">Nuevo Nivel <mat-icon>add</mat-icon></button>
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" [cdkDropListData]="dataSource.data"
                cdkDropList #treePath="cdkDropList" (cdkDropListDropped)="dropOrder($event)">
                <!-- This is the tree node template for leaf nodes -->
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding cdkDrag [cdkDragData]="node">
                    <mat-icon *ngIf="allowAdd(node.level)">chevron_right</mat-icon>
                    <mat-icon *ngIf="isLesson(node.level)">menu_book</mat-icon>
                    <span (click)="loadChildren(node)"> {{ node.nombre }}</span>
                    <mat-icon *ngIf="allowAdd(node.level)" (click)="addSubLevel(node)">add</mat-icon>

                    <!-- tres puntos para menu contextual -->
                    <mat-icon *ngIf="allowAdd(node.level)" (contextmenu)="onContextMenu($event, node)"
                        [matMenuTriggerFor]="contextMenu" aria-label="Menú Nivel Jerárquico">more_vert</mat-icon>
                    <!-- terminan tres puntos para mene contextual -->

                </mat-tree-node>

                <!-- This is the tree node template for expandable nodes -->
                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding cdkDrag
                    (contextmenu)="onContextMenu($event, node)">
                    <mat-icon class="mat-icon-rtl-mirror" mat-icon-button matTreeNodeToggle
                        [attr.aria-label]="'toggle ' + node.nombre">
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                    {{node.nombre}}
                </mat-tree-node>
            </mat-tree>
        </div>

        <div class="sequences-section" cdkDropList [cdkDropListData]="sequenceList" cdkDropListSortingDisabled
            [cdkDropListConnectedTo]="[treePath]" (cdkDropListDropped)="dropOrder($event)">
            <div class="sequence-body" *ngFor="let groups of sequenceList;" cdkDrag [cdkDragData]="groups">
                <div class="info-sequence">
                    <p><strong>{{ groups.titulo }}</strong></p>
                    <p>{{ groups.descripcion }}</p>
                </div>
            </div>
            <!-- <p>{{ dataSource.data | json }}</p> NO BORRAR -->
        </div>

    </div>


    <!-- Footer -->
    <div class="window-br-footer">
        <button routerLink="/learning-home" matTooltip="Regresar al Home." class="secondary-btn">Regresar</button>
        <button (click)="functionOne()" class="main-btn" matTooltip="Alguna funcionalidad de Ruta."
            [disabled]="false">Terminar</button>
        <button (click)="functionOne()" class="main-btn publish-btn" matTooltip="Alguna funcionalidad de Ruta."
            [disabled]="false">Publicar</button>
    </div>

</div>
<div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
    <mat-menu #contextMenu="matMenu">
        <ng-template matMenuContent let-item="node">
            <button mat-menu-item>
                <!--(click)="onContextMenuAction1(node)"-->
                <mat-icon>filter_1</mat-icon>
                <span>Agregar Abuelo</span>
            </button>
            <button mat-menu-item>
                <!--(click)="onContextMenuAction2(node)"-->
                <mat-icon>filter_2</mat-icon>
                <span>Agregar Hijo</span>
            </button>
            <button mat-menu-item>
                <!--(click)="onContextMenuAction3(node)"-->
                <mat-icon>filter_3</mat-icon>
                <span>Agregar Nieto</span>
            </button>
        </ng-template>
    </mat-menu>