@import '../../../content/scss/variables.scss';
.mat-form-field {
  display: block !important;
}

.chips-grades {
  margin: 1em 0;
}

.row-module-grade {
  position: relative;
  width: 100%;
  height: auto;
}
.row-conf-module {
  min-height: 80px;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  .rcm-col {
    position: relative;
    width: 48%;
    min-height: 80px;
  }
}

.border-grade {
  border: 1px solid $input-border-hover;
  padding: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
  min-height: 130px;
}
