// .container {
//   margin-top: 2.5em;
//   display: flex;
//   flex-direction: column;
//
//   .col-left {
//     display: flex;
//     flex-direction: row;
//   }
//
//   .col-item {
//     padding: 1em 1em 0;
//     width: 33.3%;
//   }
// }

.mat-form-field {
  display: block !important;
}

.chips-grades {
  margin: 1em 0;
}

.row-module-grade {
  position: relative;
  width: 100%;
  height: auto;
}
.row-conf-module {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  .rcm-col1 {
    position: relative;
    width: 48%;
    height: auto;
  }
  .rcm-col2 {
    position: relative;
    width: 48%;
    height: auto;
  }
}

// **
.mat-form-field-wrapper .mat-form-field-flex {
  // background-color: rgba(0,0,0,.0) !important;
  // background-color: red;
}
