<form name="editForm" role="form" novalidate [formGroup]="editForm" class="form-window-configuration">
  <div class="row-form-window-c">

    <div class="alert-course-configuration">
      <jhi-alert-error></jhi-alert-error>
    </div>

    <!-- Campos que no son obligatorios o se llenan de la base de datos - Inicia -->
    <div style="display: none;">
      <div class="form-group" [hidden]="!editForm.get('id')!.value">
        <label for="id" jhiTranslate="global.field.id">ID</label>
        <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
      </div>
      <div class="form-group">
        <label class="form-control-label" for="field_fechaCreacionSys">Fecha Creacion Sys</label>
        <!--jhiTranslate="constructorApp.modulo.fechaCreacionSys"-->
        <div class="input-group">
          <input [ngClass]="{'alert-input': !isValid('fechaCreacion')}" id="field_fechaCreacionSys" type="text"
            class="form-control" name="fechaCreacionSys" ngbDatepicker #fechaCreacionSysDp="ngbDatepicker"
            formControlName="fechaCreacionSys" />
          <span class="input-group-append">
            <button type="button" class="btn btn-secondary" (click)="fechaCreacionSysDp.toggle()">
              <fa-icon [icon]="'calendar-alt'"></fa-icon>
            </button>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="form-control-label" for="field_estatus">Estatus</label>
        <input type="text" class="form-control" name="estatus" id="field_estatus" formControlName="estatus" />
      </div>

    </div>
    <!-- Campos que no son obligatorios o se llenan de la base de datos - Termina -->

    <!-- Generales Inicia -->
    <div>

      <div class="rwg-header">
        <h2 id="jhi-curso-heading">Configuración general</h2>
        <!--jhiTranslate="constructorApp.modulo.home.titleGeneralConfg"-->
        <p>*Campo obligatorio</p>
      </div>

      <div class="container ">

        <!-- Row -->
        <div class="col-left">

          <div class="col-item">
            <div class="form-nimbus">
              <label for="field_titulo">Título</label>
              <!--jhiTranslate="constructorApp.modulo.titulo"-->
              <input [ngClass]="{'alert-input': !isValid('titulo')}" maxlength="80" type="text" class="form-control"
                name="titulo" id="field_titulo" formControlName="titulo" />
              <!-- Aquí va la alerta por campo del formulario -->
              <div *ngIf="!isValid('titulo')" class="form-alert">
                <p>Mensaje de corrección</p>
              </div>
            </div>
          </div>

          <div class="col-item">
            <div class="form-nimbus">
              <label for="field_descripcion">Descripcion</label>
              <!--jhiTranslate="constructorApp.curso.descripcion"-->
              <input [ngClass]="{'alert-input': !isValid('descripcion')}" maxlength="255" type="text"
                class="form-control" name="descripcion" id="field_descripcion" formControlName="descripcion" />
              <!-- Aquí va la alerta por campo del formulario -->
              <div *ngIf="!isValid('descripcion')" class="form-alert">
                <p>Mensaje de corrección</p>
              </div>
            </div>
          </div>

          <div class="col-item">
            <div class="form-nimbus">
              <label for="field_asignatura">Asignatura</label>
              <!--jhiTranslate="constructorApp.curso.asignatura"-->
              <div class="selectWrap">
                <select id="field_asignatura" name="asignatura" formControlName="asignatura">
                  <option
                    [ngValue]="asignaturaOption.id === editForm.get('asignatura')!.value?.id ? editForm.get('asignatura')!.value : asignaturaOption"
                    *ngFor="let asignaturaOption of asignaturas; trackBy: trackById">{{asignaturaOption.descripcion}}
                  </option>
                </select>
              </div>
              <div class="form-alert">
                <p></p>
              </div>
            </div>
          </div>

        </div>

        <div>
          <jhi-tipos-modulo></jhi-tipos-modulo>
        </div>
        <div>
          <jhi-colaboradores-modulo></jhi-colaboradores-modulo>
        </div>
        <div>
          <jhi-temas-modulo></jhi-temas-modulo>
        </div>



        <div class="col-left">
          <div class="col-item">
            <div class="form-nimbus">
              <label for="field_gradoAcademico">Grado
                Academico</label>
              <div class="selectWrap">
                <select id="field_gradoAcademico" name="gradoAcademico" formControlName="gradoAcademico"
                  (change)="changeGradoAcademico($event)">
                  <option
                    [ngValue]="gradoAcademicoOption.id === editForm.get('gradoAcademico')!.value?.id ? editForm.get('gradoAcademico')!.value : gradoAcademicoOption"
                    *ngFor="let gradoAcademicoOption of gradoAcademicos; trackBy: trackById">
                    {{gradoAcademicoOption.descripcion}}</option>
                </select>
              </div>
              <div class="form-alert"></div>
            </div>
          </div>

          <div class="chips-grades">
            <mat-chip-list aria-label="Selected grades">
              <mat-chip *ngFor="let grades of selectedGradesModule" [selectable]="selectable" [removable]="removable"
                (removed)="remove(grades)">{{grades.descripcion}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </div>

        </div>

        <div class="row-module-grade">
          <mat-form-field appearance="fill">
            <mat-label>Número de Grado</mat-label>
            <mat-select [formControl]="gradosCtrl" multiple (selectionChange)="setSelectedGrades($event)"
            [(ngModel)]="actualSelectedGradesModule" name="actualSelectedGradesModule"><!--numerogrados-->
              <mat-option *ngFor="let g of numerogrados" [value]="g.id">{{g.descripcion}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        
      </div>
      <!-- End container -->

    </div>
    <!-- end Generales -->

  </div>
</form>