<div class="row-modal-matDialog">
  <h1 mat-dialog-title>Editar nivel</h1>
  <div mat-dialog-content>
      <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput autocomplete="off" [(ngModel)]="data.newLevelName">
      </mat-form-field>
  </div>
  <div mat-dialog-actions class="row-footer-mmd">
      <button mat-button class="secondary-btn" (click)="onNoClick()">Cancelar</button>
      <button mat-button class="main-btn" [mat-dialog-close]="data.newLevelName" cdkFocusInitial>Guardar</button>
  </div>
</div>
