<style>
    .fondo {
        background-color: white;
        margin: 10px;
    }
    .temp {
        display: none;
    }
    img {
        width: 100px;
        height: 100px;
    }
</style>

<div class="modal-activity-container">
    <div *ngIf="showLoader">
        CARGANDO...
    </div>
    <div class="modal-act-header">
        <div class="row-mah">
            <div class="nimbus-imagotype"></div>
            <h2 id="jhi-curso-heading">Actividad interactiva</h2>

            <div>
                <!-- Nombre -->

<!-- No eliminar -->
<input type="text" [(ngModel)]="activity.nombre" class="temp">
<!-- No eliminar -->

                <div class="fondo">
                    <mat-form-field appearance="fill">
                        <mat-label>Nombre</mat-label>
                        <input matInput [(ngModel)]="activity.nombre">
                    </mat-form-field>
                    <!-- Nombre -->
                    <!-- Evaluable -->
                    <mat-checkbox [(ngModel)]="activity.contenido.evaluable">Evaluable</mat-checkbox>
                    <!-- Evaluable -->
                </div>

                <!-- Pregunta -->
                <div *ngFor="let pregunta of activity.contenido.preguntas; let questionIndex = index;" class="fondo">
                    <!-- Indicación/Pregunta -->
                    <mat-form-field appearance="fill">
                        <mat-label>Pregunta</mat-label>
                        <input matInput [(ngModel)]="pregunta.pregunta">
                    </mat-form-field>
                    <!-- Indicación/Pregunta -->
                    <!-- Recurso -->
                    <mat-form-field appearance="fill">
                        <mat-label>Recurso</mat-label>
                        <select matNativeControl [(ngModel)]="pregunta.tipoRecurso">
                            <option value=""></option>
                            <option [value]="resourceType" *ngFor="let resourceType of resourceTypes">{{resourceType}}</option>
                        </select>
                    </mat-form-field>
                    <button type="button" class="main-btn" *ngIf="pregunta.tipoRecurso !== ''" (click)="resourceInput.click()">
                        <span>Subir</span>
                        <input #resourceInput type="file" (change)="selectFile($event, pregunta)" style="display:none;"/>
                    </button>
                    <img [src]="pregunta.safeUrl" *ngIf="(pregunta.tipoRecurso === 'Imagen' || pregunta.tipoRecurso === 'Video') && pregunta.safeUrl && pregunta.safeUrl !== ''">
                    <audio src="" *ngIf="pregunta.tipoRecurso === 'Audio' && pregunta.path !== ''"></audio>
                    <!-- Recurso -->
                    <!-- Tipo de pregunta -->
                    <mat-form-field appearance="fill">
                        <mat-label>Tipo de pregunta</mat-label>
                        <select matNativeControl required [(ngModel)]="pregunta.tipoPregunta" (change)="changeQuestionType(pregunta, $event.target.value)">
                            <option value=""></option>
                            <option [value]="questionType" *ngFor="let questionType of questionTypes">{{questionType}}</option>
                        </select>
                    </mat-form-field>
                    <!-- Tipo de pregunta -->
                    <!-- Tipo de respuestas -->
                    <mat-form-field appearance="fill" *ngIf="pregunta.tipoPregunta !== 'Verdadero Falso'">
                        <mat-label>Tipo de respuesta</mat-label>
                        <select matNativeControl required [(ngModel)]="pregunta.tipoRespuestas">
                            <option value=""></option>
                            <option [value]="answerType" *ngFor="let answerType of answerTypes">{{answerType}}</option>
                        </select>
                    </mat-form-field>
                    <!-- Tipo de respuestas -->
                    <!-- Eliminar pregunta -->
                    <button (click)="deleteQuestion(questionIndex);">Eliminar pregunta</button>
                    <!-- Eliminar pregunta -->    
                    <!-- Respuesta -->
                    <div *ngFor="let respuesta of pregunta.respuestas; let answerIndex = index;">
                        <!-- Correcta -->
                        <mat-checkbox [(ngModel)]="respuesta.correcta">Correcta</mat-checkbox>
                        <!-- Correcta -->
                        <!-- Respuesta -->
                        <mat-form-field appearance="fill" *ngIf="pregunta.tipoRespuestas === 'Texto'">
                            <mat-label>Respuesta</mat-label>
                            <input matInput [(ngModel)]="respuesta.respuesta">
                        </mat-form-field>
                        <!-- Respuesta -->
                        <!-- Respuesta/URL de recurso -->
                        <img [src]="respuesta.safeUrl" *ngIf="(pregunta.tipoRespuestas === 'Imagen' || pregunta.tipoRespuestas === 'Video') && respuesta.safeUrl && respuesta.safeUrl !== ''">
                        <audio src="" *ngIf="pregunta.tipoRespuestas === 'Audio' && respuesta.path !== ''"></audio>
                        <button type="button" class="main-btn" *ngIf="pregunta.tipoRespuestas !== 'Texto'" (click)="fileInput.click()">
                            <span>Subir</span>
                            <input #fileInput type="file" (change)="selectFile($event, respuesta)" style="display:none;"/>
                        </button>
                        <button (click)="deleteAnswer(pregunta, answerIndex);" *ngIf="pregunta.respuestas.length > 1">Eliminar respuesta</button>
                        <!-- Respuesta/URL de recurso -->
                    </div>
                    <button (click)="addAnswer(pregunta)" *ngIf="pregunta.tipoPregunta !== '' && pregunta.tipoRespuestas !== '' && pregunta.respuestas.length < 4">Agregar respuesta</button>
                    <!-- Respuesta -->
                </div>
                <button (click)="addQuestion()">Agregar pregunta</button>
                <!-- Pregunta -->
            </div>

        </div>
    </div>
    <div class="modal-act-footer">
        <button (click)="close()" class="secondary-btn">Cancelar</button>
        <button type="button" (click)="save()" class="main-btn">Guardar</button>
    </div>
</div>

