<style>
    .fondo {
        background-color: white;
    }
</style>
<div class="fondo">
    <!-- Nombre -->
    <span>Nombre de la actividad:</span>
    <input type="text">
    <!-- Nombre -->
    <!-- Evaluable -->
    <!-- Evaluable -->
    <!-- Pregunta -->
        <!-- Indicación/Pregunta -->
        <!-- Indicación/Pregunta -->
        <!-- Recurso -->
        <!-- Recurso -->
        <!-- Tipo de pregunta -->
        <!-- Tipo de pregunta -->
        <!-- Tipo de respuestas -->
        <!-- Tipo de respuestas -->    
        <!-- Respuesta -->
            <!-- Correcta -->
            <!-- Correcta -->
            <!-- Respuesta/URL de recurso -->
            <!-- Respuesta/URL de recurso -->
        <!-- Respuesta -->
    <!-- Pregunta -->
</div>

