<div class="container-preview-uma">
    <button aria-label="Close" data-dismiss="modal" class="btn-close-modal-preview-uma" type="button"
        (click)="activeModal.dismiss('closed')"><i class="icon ni-close"></i></button>
    <p class="modal-preview-title">Vista previa I <i class="icon whBook"></i><span>{{umaData!.titulo!}}</span></p>
    <div class="modal-preview-uma-body">
        <div class="row-modal-preview-uma">
            <div class="col-form-preview">
                <div class="content-uma">
                    <ng-container *ngFor="let obj of bloquesUma!; let idx = index;">
                        <!-- <p>Tipo del componente:
                            <strong>{{obj!.bloqueComponentes!.tipoBloqueComponentes.nombre}}</strong></p> -->

                        <ng-container *ngIf="obj.bloqueComponentes!.tipoBloqueComponentes.nombre === 'imagen_texto'">
                            <div class="container-componentes" #targetImagenTexto>
                                <jhi-content-block4 [contentBlock]="obj" [target]="targetImagenTexto" [index]="idx">
                                </jhi-content-block4>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="obj.bloqueComponentes!.tipoBloqueComponentes.nombre === 'titulo'">
                            <div *ngFor="let c of obj.bloqueComponentes!.componentes">
                                <div class="container-componentes">
                                    <jhi-visor-text [component]="c"
                                        [templateType]="obj.bloqueComponentes!.tipoBloqueComponentes!">
                                    </jhi-visor-text>
                                </div>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="obj.bloqueComponentes!.tipoBloqueComponentes.nombre === 'texto'">
                            <div *ngFor="let c of obj.bloqueComponentes!.componentes">
                                <div class="container-componentes">
                                    <jhi-visor-text [component]="c"
                                        [templateType]="obj.bloqueComponentes!.tipoBloqueComponentes!">
                                    </jhi-visor-text>
                                </div>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="obj.bloqueComponentes!.tipoBloqueComponentes.nombre === 'imagen'">
                            <div *ngFor="let c of obj.bloqueComponentes!.componentes; let i = index;">
                                <div class="container-componentes" #targetImagen>
                                    <jhi-constructor-image [component]="c"></jhi-constructor-image>
                                </div>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="obj.bloqueComponentes!.tipoBloqueComponentes.nombre === 'pdf'">
                            <div *ngFor="let c of obj.bloqueComponentes!.componentes">
                                <div class="container-componentes">
                                    <jhi-constructor-pdf [component]="c">
                                    </jhi-constructor-pdf>
                                </div>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="obj.bloqueComponentes!.tipoBloqueComponentes.nombre === 'sound'">
                            <div *ngFor="let c of obj.bloqueComponentes!.componentes">
                                <div class="container-componentes">
                                    <jhi-constructor-sound [component]="c"></jhi-constructor-sound>
                                </div>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="obj.bloqueComponentes!.tipoBloqueComponentes.nombre === 'video'">
                            <div *ngFor="let c of obj.bloqueComponentes!.componentes">
                                <div class="container-componentes">
                                    <jhi-constructor-video [component]="c" class="jhi-c-video"></jhi-constructor-video>
                                </div>
                            </div>
                        </ng-container>

                        <ng-container
                            *ngIf="obj.bloqueComponentes!.tipoBloqueComponentes.nombre === 'indicacion_video'">
                            <div class="container-componentes" #targetIndicacionVideo>
                                <jhi-content-block6 [contentBlock]="obj" [target]="targetIndicacionVideo" [index]="idx">
                                </jhi-content-block6>
                            </div>
                        </ng-container>

                        <ng-container
                            *ngIf="obj.bloqueComponentes!.tipoBloqueComponentes.nombre === 'video_envolvente'">
                            <div class="container-componentes" #targetVideoEnv>
                                <jhi-content-block7 [contentBlock]="obj" [index]="idx" [target]="targetVideoEnv">
                                </jhi-content-block7>
                            </div>
                        </ng-container>

                    <!--    
                        <ng-container *ngIf="obj.bloqueComponentes!.tipoBloqueComponentes.nombre === 'actividad'">
                            <div class="container-componentes" #targetActivityQuestion>
                                <jhi-constructor-activity [component]="c" [typeQuestion]="'activity_question_text'">
                                </jhi-constructor-activity>
                            </div>
                        </ng-container>
                    
                        <ng-container *ngIf="obj.bloqueComponentes!.tipoBloqueComponentes.nombre === 'activity_question_media'">
                            <div class="container-componentes" #targetVideoEnv>
                                <jhi-constructor-activity [component]="c" [typeQuestion]="'activity_question_text'">
                                </jhi-constructor-activity>
                            </div>
                        </ng-container>

                    -->

                        <ng-container *ngIf="obj.bloqueComponentes!.tipoBloqueComponentes.nombre === 'cabecera'">
                            <div class="container-componentes" #targetHeader>
                                <jhi-content-block12 [contentBlock]="obj" [index]="idx" [target]="targetHeader">
                                </jhi-content-block12>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="obj.bloqueComponentes!.tipoBloqueComponentes.nombre === 'colapsable'">
                            <div class="container-componentes" #targetImagen>
                                <jhi-content-block13 [contentBlock]="obj" [index]="idx" [target]="targetImagen">
                                </jhi-content-block13>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="obj.bloqueComponentes!.tipoBloqueComponentes.nombre === 'tip'">
                            <div class="container-componentes" #targetImagen>
                                <jhi-content-block14 [contentBlock]="obj" [index]="idx" [target]="targetImagen">
                                </jhi-content-block14>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="obj.bloqueComponentes!.tipoBloqueComponentes.nombre === 'indicador'">
                            <div class="container-componentes" #targetIndicador>
                                <jhi-content-block17 [contentBlock]="obj" [index]="idx" [target]="targetIndicador">
                                </jhi-content-block17>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="obj.bloqueComponentes!.tipoBloqueComponentes.nombre === 'numeracion_actividad'">
                            <div class="container-componentes" #targetNumeracion>
                                <jhi-content-block18 ><!--[contentBlock]="obj" [index]="idx" [target]="targetNumeracion"-->
                                </jhi-content-block18>
                            </div>
                        </ng-container>

                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>