<div class="container-preview-uma">
    <button aria-label="Close" data-dismiss="modal" class="btn-close-modal-preview-uma" type="button"
        (click)="activeModal.dismiss('closed')"><i class="icon ni-close"></i></button>
    <div class="modal-preview-uma-body">
        <div class="row-modal-preview-uma">
            <div class="col-form-preview">
                <!-- <video [src]="videoSrc" width="88%" controls #vPlayer></video> -->
                <p>Preview del UMA</p>
                <!-- <p>{{umaData!.nivelesModulo!.nivelJerarquico!.bloquesCurso | json}}</p> -->
                <div class="content-uma">
                    <ng-container *ngFor="let obj of bloquesUma!">
                        <p>Tipo del componente:
                            <strong>{{obj!.bloqueComponentes!.tipoBloqueComponentes.nombre}}</strong></p>
                        <!-- <p>{{obj!.bloqueComponentes.componentes | json}}</p> -->

                        <ng-container *ngIf="obj.bloqueComponentes!.tipoBloqueComponentes.nombre === 'imagen_texto'">

                            <div class="container-componentes">
                                <ng-container *ngFor="let bc of obj.bloqueComponentes.componentes">

                                    <ng-container *ngIf="bc.tipoComponente.nombre === 'text'">
                                        <div class="text-content-block">
                                            <div [innerHtml]="bc.contenido.contenido"></div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="bc.tipoComponente.nombre === 'image'">
                                        <div class="img-content-block">
                                            <img [src]="bc.contenido.contenido">
                                        </div>
                                    </ng-container>


                                </ng-container>
                            </div>
                            <!-- termina container-componentes -->
                        </ng-container>

                        <ng-container *ngIf="obj.bloqueComponentes!.tipoBloqueComponentes.nombre === 'titulo'">
                            <div *ngFor="let c of obj.bloqueComponentes!.componentes">
                                <div class="content-text-title-uma" [innerHtml]="c.contenido.contenido"></div>
                                <!--{{c.contenido.contenido}}-->
                            </div>
                            <hr>
                        </ng-container>

                        <ng-container *ngIf="obj.bloqueComponentes!.tipoBloqueComponentes.nombre === 'texto'">
                            <div *ngFor="let c of obj.bloqueComponentes!.componentes">
                                <div class="content-text-uma" [innerHtml]="c.contenido.contenido"></div>
                                <!--{{c.contenido.contenido}}-->
                            </div>
                            <hr>
                        </ng-container>

                        <ng-container *ngIf="obj.bloqueComponentes!.tipoBloqueComponentes.nombre === 'imagen'">
                            <div *ngFor="let c of obj.bloqueComponentes!.componentes; let i = index;">
                                <div class="content-img-block">
                                    <img [src]="c.contenido.contenido">
                                    <!-- <jhi-constructor-image [component]="c"></jhi-constructor-image> -->
                                </div>
                            </div>
                            <hr>
                        </ng-container>

                        <ng-container *ngIf="obj.bloqueComponentes!.tipoBloqueComponentes.nombre === 'pdf'">
                            <div *ngFor="let c of obj.bloqueComponentes!.componentes">
                                <div class="content-pdf-block">
                                    <span class="material-icons">
                                        picture_as_pdf
                                    </span>
                                </div>
                            </div>
                            <hr>
                        </ng-container>

                        <ng-container *ngIf="obj.bloqueComponentes!.tipoBloqueComponentes.nombre === 'sound'">
                            <div *ngFor="let c of obj.bloqueComponentes!.componentes">
                                <div class="content-sound-block">
                                    <span class="material-icons">
                                        surround_sound
                                    </span>
                                </div>
                            </div>
                            <hr>
                        </ng-container>

                        <ng-container *ngIf="obj.bloqueComponentes!.tipoBloqueComponentes.nombre === 'video'">
                            <div *ngFor="let c of obj.bloqueComponentes!.componentes">
                                <div class="content-video-block">
                                    <span class="material-icons">
                                        video_library
                                    </span>
                                </div>
                            </div>
                            <hr>
                        </ng-container>

                        <ng-container
                            *ngIf="obj.bloqueComponentes!.tipoBloqueComponentes.nombre === 'indicacion_video'">
                            <div class="container-componentes">
                                <ng-container *ngFor="let bc of obj.bloqueComponentes.componentes">

                                    <ng-container *ngIf="bc.tipoComponente.nombre === 'text'">
                                        <div class="text-video-content-block">
                                            <div [innerHtml]="bc.contenido.contenido"></div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="bc.tipoComponente.nombre === 'video'">
                                        <div class="video-indicacion-content-block">
                                            <span class="material-icons">
                                                video_library
                                            </span>
                                        </div>
                                    </ng-container>


                                </ng-container>
                            </div>
                            <hr>
                        </ng-container>

                        <ng-container
                            *ngIf="obj.bloqueComponentes!.tipoBloqueComponentes.nombre === 'video_envolvente'">
                            <div class="container-componentes">
                                <ng-container *ngFor="let bc of obj.bloqueComponentes.componentes">

                                    <ng-container *ngIf="bc.tipoComponente.nombre === 'text'">
                                        <div class="text-content-block">
                                            <div [innerHtml]="bc.contenido.contenido"></div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="bc.tipoComponente.nombre === 'video'">
                                        <div class="video-content-block">
                                            <span class="material-icons">
                                                video_library
                                            </span>
                                        </div>
                                    </ng-container>


                                </ng-container>
                            </div>
                            <hr>
                        </ng-container>


                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>