@import '../../../../content/scss/variables.scss';
.temp {
  display: none;
}
img {
  width: 100px;
  height: 100px;
}
.row-activity-maker-19 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  z-index: 100;
  background-color: white;
  display: flex;
  flex-direction: column;
}
// Loader
.maker-loader {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 101;
  pointer-events: unset;
  cursor: default;
  transition: 0.3s;
  .loader2 {
    height: 50px;
    width: 50px;
    position: absolute;
    transform: scale(0.6);
    left: 430px;
  }
}
.alert-course-configuration {
  position: absolute;
  width: 380px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 140px;
}

// Header
.activity-maker-header {
  position: relative;
  width: 100%;
  height: 135px;
  display: flex;
  flex-direction: column;
  .row-amh-navbar {
    position: relative;
    width: 100%;
    height: 45px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .row-amh-topbar {
    position: relative;
    width: 100%;
    height: 90px;
    background-color: $background-workspace;
    // background-color: lightsteelblue;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../../content/images/bg_maker.svg');
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: 260px;
  }
}
.col-amh-navbar {
  position: relative;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
}
.logo-nimbus-amh {
  position: relative;
  width: 38px;
  height: 38px;
  background-image: url('../../../../content/images/logo-jhipster.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.logo-activity-amh {
  position: relative;
  width: 38px;
  height: 38px;
  background-image: url('../../../../content/images/ab11.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: 30px;
}
.title-activity-amh {
  position: relative;
  width: auto;
  height: auto;
  margin-left: 10px;
}
.btn-close-maker {
  position: absolute;
  width: 36px;
  height: 36px;
  right: 0px;
  top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  outline: none;
  background-color: $footer-bg-color;
  transition: all 0.3s ease;
  &:hover {
    background-color: $window-divider-color;
  }
  i {
    font-size: 24px;
  }
}
.col-amh-topbar {
  position: relative;
  width: 80%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .mat-amht-title {
    margin-top: 18px !important;
  }
}
.numeracion-preguntas {
  position: absolute;
  width: auto;
  height: 30px;
  right: 100px;
  top: 18px;
  display: flex;
  p {
    position: relative;
    width: auto;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    color: $blue-nimbus-dark;
    display: flex;
    align-items: center;
  }
  .numero-pregunta {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: $secondary-btn-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 50%;
    margin-left: 10px;
  }
}
.mat-amht-checkbox {
  margin-left: 40px;
  margin-top: 9px;
}
// Body
.activity-maker-body {
  position: relative;
  width: 100%;
  // height: calc(100vh - 215px);
  height: calc(100vh - 135px);
  display: flex;
  justify-content: center;
  overflow: auto;
  background-color: $footer-bg-color;
  padding-top: 10px;
  padding-bottom: 20px;
}
.row-amb {
  position: relative;
  width: 80%;
  height: auto;
}
.row-amb-answer {
  position: relative;
  width: 100%;
  height: auto;
  background-color: white;
  padding: 4px 30px 30px 30px;
  border-radius: 12px;
  margin-top: 25px;
  margin-bottom: 25px;
  // border: 1px solid $window-divider-color;
  border-top: 4px solid $secondary-btn-color;
  // border-top: 5px solid deepskyblue;
  .row-amb-header {
    position: relative;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h4 {
      position: relative;
      width: auto;
      height: auto;
      color: $blue-nimbus-dark;
    }
  }
}
.btn-delete-question {
  position: relative;
  // width: 38px;
  // height: 38px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  outline: none;
  // background-color: $footer-bg-color;
  // background-color: $alert-color;
  background-color: white;
  transition: all 0.3s ease;
  border: 2px solid $blue-nimbus-dark;
  i {
    font-size: 24px;
    color: $blue-nimbus-dark;
    transition: all 0.3s ease;
  }
  &:hover > i {
    color: $alert-hover-color;
    // background-color: $window-divider-color;
    // background-color: $alert-hover-color;
  }
}
.row-add-question-btn {
  position: relative;
  width: 98%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px dashed $background-workspace;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 1%;
}
.row-add-question-btn-2 {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-bottom: 25px;
  border-top: 4px solid #18bafb;
}
// Footer
.activity-maker-footer {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: white;
  border-top: 1px solid $window-divider-color;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-amf {
  position: relative;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    margin-left: 15px;
    margin-right: 15px;
  }
}
.row-answer-am {
  position: relative;
  width: 98%;
  height: auto;
  min-height: 80px;
  margin-left: 1%;
  border-radius: 12px;
  // border: 1px solid $input-border-hover;
  display: flex;
  align-items: center;
  margin-top: 20px;
  background-color: #f4f5f7;
  .btn-delete-question {
    position: absolute;
    right: 20px;
  }
  mat-checkbox {
    margin-left: 20px;
    width: 100px;
  }
}
.btn-add-answer-am {
  margin-left: 3%;
  margin-top: 12px;
}

.btn-upload-answer-image {
  position: relative;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  outline: none;
  background-color: $blue-nimbus-dark;
  transition: all 0.3s ease;
  margin-left: 30px;
  &:hover {
    background-color: $a-color-nd-hover;
  }
  i {
    font-size: 24px;
    color: white;
  }
}
.mat-pregunta {
  position: relative;
  width: 50%;
  height: auto;
}
.mat-recurso {
  position: relative;
  width: auto;
  height: auto;
  margin-left: 2%;
}
.row-tipo-mat {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  .btn-upload-answer-image {
  }
  .btn-delete-question {
    margin-left: 20px;
  }
  // img {
  //   position: relative;
  //   width: 300px;
  //   height: auto;
  //   margin-left: 3%;
  //   margin-bottom: 20px;
  // }
}
.img-preview-image {
  position: relative;
  width: 300px;
  height: auto;
  margin-left: 3%;
  margin-bottom: 20px;
  border-radius: 10px;
}
.img-preview-video {
  position: relative;
  width: 400px;
  height: auto;
  margin-left: 3%;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.4s;
    z-index: 2;
    background-image: url('../../../../content/images/play_icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 45px;
    background-color: rgba(16, 18, 51, 0.7);
    &:hover {
      background-color: rgba(16, 18, 51, 0.5);
    }
  }
  img {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
  }
}

.video-question-container {
  position: relative;
  width: 400px;
  height: auto;
  margin-left: 3%;
  margin-bottom: 20px;
  jhi-resource-video {
  }
}
.mat-tipo-pregunta {
  position: relative;
  width: auto;
  min-width: 280px;
  height: auto;
}
.mat-tipo-respuesta {
  position: relative;
  width: auto;
  min-width: 280px;
  height: auto;
  margin-left: 40px;
}
.row-question-grid {
  margin-bottom: 20px;
  padding-bottom: 10px;
  // min-height: 80px;
  min-height: 20px;
  border-bottom: 1px solid $window-divider-color;
}

.audio-progress {
  width: 300px;
}
.row-divider-respuesta {
  position: relative;
  width: 100%;
  height: auto;
  border-top: 1px solid $window-divider-color;
  padding-top: 25px;
  padding-bottom: 10px;
  margin-top: 10px;
  h4 {
    color: $blue-nimbus-dark;
  }
}
.row-grabar-audio {
  position: relative;
  width: auto;
  height: 50px;
  margin-left: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  span {
    position: relative;
    width: auto;
    height: auto;
    font-size: 14px;
    font-weight: 400;
    color: $blue-nimbus-dark;
  }
  button {
    margin-left: 10px;
  }
  input {
    margin-left: 10px;
  }
}
.col-record {
  position: relative;
  // width: 80px;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .btn-start {
    background-image: url('../../../../content/images/micro_icon.svg');
    background-position: center;
    background-size: 24px;
    background-repeat: no-repeat;
  }
  .btn-stop {
    background-image: url('../../../../content/images/stop_icon.svg');
    background-position: center;
    background-size: 24px;
    background-repeat: no-repeat;
  }
  .btn-disabled {
    background-color: gray;
  }
}
