<div class="register-main-container">
  <form name="groupUmaForm" role="form" autocomplete="off" [formGroup]="groupUmaForm">

    <div class="register-form-group">

      <div class="container-field-register">
        <p>Registrar Grupo:</p>

        <div class="row-form-group">
          <div>
            <mat-form-field>
              <mat-label>Título del Grupo *</mat-label>
              <input matInput formControlName="titleSequenceUmas" [errorStateMatcher]="matcher"
                placeholder="Título del Agrupador">
              <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
              <mat-error *ngIf="groupUmaForm!.get('titleSequenceUmas')!.hasError('required')">
                El título del Grupo de UMAS es requerido.
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Descripción</mat-label>
              <input matInput formControlName="desciptionSequenceUmas"
                placeholder="Agrupador que contiene N umas para...">
                <mat-error *ngIf="groupUmaForm!.get('desciptionSequenceUmas')!.hasError('maxlength')">
                La descripción del Grupo no debe superar los 50 caracteres.
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Duración</mat-label>
              <mat-select formControlName="durationSequence" name="durationSequence">
                <mat-option *ngFor="let d of durationValuesList" [value]="d">{{d}} minutos</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>

        <div class="row-form-group-tag">
          <div>
            <mat-form-field class="example-chip-list">
              <mat-label>Tags de búsqueda para el agrupador</mat-label>
              <mat-chip-list #chipList aria-label="Tags para la búsqueda">
                <mat-chip *ngFor="let fruit of tagsBusquedaAgrupador!" [selectable]="selectable" [removable]="removable"
                  (removed)="removeTag(fruit)">
                  {{fruit.descripcion}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="capture indicios de búsqueda para el agrupador" [matChipInputFor]="chipList"
                  formControlName="searchTagsSequenceUmas" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addTag($event)">
              </mat-chip-list>
            </mat-form-field>
          </div>
          <div>

          </div>
        </div>

      </div>


    </div>
  </form>

</div>
<!-- close register-main-container -->