.main-secuence-group-container {
  // border: solid 1px yellow;
  height: auto;
  display: flex;
  // flex-direction: row;

  .sequence-uma-body {
    width: 75%;

    // container search uma fields
    .search-uma-container {
      margin: 15px auto;
      width: 94%;

      // container search and filter fields
      .container-search-form-uma {
        display: flex;
        justify-content: space-around;
        margin-top: 1em;
        flex-direction: column;

        // box general search
        .row-search-gral {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          align-items: center;

          .txt-recent-umas {
            display: flex;
            align-items: center;
            // align-self: start;
            min-width: 200px;
          }

          .mat-form-field {
            width: 100%;
          }
        }

        .container-field-filter {
          border: 1px solid #a4b9e2;
          padding: 4px 6px;
          border-radius: 6px;

          // filter uma fields
          .row-filter-uma {
            // border: solid 1px red;
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            .mat-form-field {
              width: 90%;
            }

            .btn-search-group {
              display: flex;
              align-items: center;

              span {
                font-size: 13px;
                padding-right: 3px;
              }
            }
          }
        }
      }
    }

    .result-search-container {
      margin: 15px auto;
      width: 94%;

      .container-result-groups {
        // border: solid 1px red;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .drag-item-uma {
          margin: 0 6px;
          border: solid 1px #3e66b5;
        }
      }
    }
  }

  .sequence-uma-bar {
    // border: solid 1px red;
    min-height: 100px;
    padding: 5px;
    width: 25%;
    .uma-item-sequence {
      border: solid 1px #b5b5b5;
      background-color: #ccc;
      padding: 1em;
      min-height: 395px;
      .item-uma {
        background-color: #dadada;
        border: solid 1px #a5a5a5;
        padding: 1em;
        text-align: center;
      }
    }
  }
}
