<div class="main-secuence-group-container" cdkDropListGroup>

    <!-- <div>
        <button mat-button matStepperPrevious>Anterior</button>
        <button class="main-btn" mat-button matStepperNext (click)="saveSequenceGroup()">Crear Secuencia</button>
        <button class="secondary-btn" mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
            {{!isLinear ? 'Enable step mode' : 'Disable step mode'}}
        </button>
    </div> -->

    <div class="sequence-uma-body">

        <div class="search-uma-container">
            <form name="groupUmaForm" role="form" [formGroup]="groupUmaForm">

                <div class="container-search-form-uma">

                    <div class="row-search-gral">
                        <p class="txt-recent-umas">Tus UMAS recientes ({{umasList.length}})</p>
                        <div>
                            <mat-form-field>
                                <input type="text" placeholder="Buscar" matInput formControlName="sessionType"
                                    [matAutocomplete]="autoInputSessionType">
                                <mat-autocomplete autoActiveFirstOption #autoInputSessionType="matAutocomplete"
                                    [displayWith]="displayFn">
                                    <mat-option *ngFor="let option of filteredTypeOpts | async" [value]="option">
                                        {{option.descripcion}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="container-field-filter">
                        <p>Filtrar por:</p>

                        <div class="row-filter-uma">
                            <div>
                                <mat-form-field>
                                    <mat-label>Título de la UMA</mat-label>
                                    <input matInput formControlName="umaTitleFormCtrl"
                                        placeholder="filtrar por título del UMA">
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field>
                                    <mat-label>Descripción UMA</mat-label>
                                    <input matInput formControlName="umaDescriptionFormCtrl"
                                        placeholder="filtrar por descripción">
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field>
                                    <mat-label>Área de conocimiento</mat-label>
                                    <input type="text" placeholder="indicio de del área de conocimiento" matInput
                                        formControlName="umaAreaKnowledge" [matAutocomplete]="autoInputSubject">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row-filter-uma">
                            <div>
                                <mat-form-field>
                                    <mat-label>Nivel Académico</mat-label>
                                    <input type="text" placeholder="filtrar por nivel académico" matInput
                                        formControlName="sessionTopic">
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field>
                                    <mat-label>Tema del UMA</mat-label>
                                    <input type="text" placeholder="filtrar por tema" matInput formControlName="sessionTopic">
                                </mat-form-field>
                            </div>
                            <div class="btn-search-group">
                                <button (click)="searchUmas()" class="main-btn">
                                    <span class="material-icons">search</span>
                                    Buscar UMAS
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </form>

        </div>

        <div class="result-search-container">
            <!-- expansion panel cool -->
            <div *ngIf="umasList.length">
                <p>Resultados de la búsqueda de UMAs... ( {{umasList.length}} )</p>
                <div class="container-result-groups" cdkDropList [cdkDropListData]="umasList"
                    (cdkDropListDropped)="drop($event)">
                    <div class="drag-item-uma" *ngFor="let sec of umasList" cdkDrag>
                        <!-- <mat-nav-list> -->
                        <mat-expansion-panel class="group-cover-panel" matTooltip="Despliegue para ver más detalles">
                            <mat-expansion-panel-header [collapsedHeight]="'70px'" [expandedHeight]="'200px'">
                                <span class="title-panel">
                                    {{sec.titulo}}
                                </span>
                            </mat-expansion-panel-header>

                            <div class="panel-body-group">

                                <div (click)="deleteModule(sec.id, $event)" class="delete-group">
                                    <i class="icon ni-delete icon-negative"></i>
                                </div>

                                <div class="">
                                    <!--mat-list-item-->
                                    <span class="desc-group-panel"
                                        [routerLink]="['/constructor-layout', sec.id, 'module']"
                                        *ngIf="sec.descripcion">{{sec.descripcion.length > 48 ? sec.descripcion.substring(0, 48) + "..." : sec.descripcion}}</span>

                                    <p>Aquí podría ir un contenido cool o algo interesante.</p>

                                </div>

                            </div>


                        </mat-expansion-panel>
                        <!-- </mat-nav-list> -->

                    </div>
                </div>

            </div>

        </div>

    </div>
    <!--termina sequence-uma-body-->

    <div class="sequence-uma-bar">
        <div class="uma-item-sequence" cdkDropList [cdkDropListData]="tiraUmas" (cdkDropListDropped)="drop($event)">
            <div cdkDrag *ngFor="let item of tiraUmas">
                <div class="item-uma">
                    {{item.modulo.titulo}}
                </div>
            </div>
        </div>
    </div>

</div>