@import '../../../content/scss/variables.scss';
.main-secuence-group-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;

  .sequence-uma-body {
    position: relative;
    width: calc(100% - 320px);
    height: 100%;
    display: flex;
    flex-direction: column;
    order: 2;

    .secuence-uma-topbar {
      position: relative;
      width: 100%;
      height: 50px;
      background-color: $topbar-ligt;
      // border-bottom: 1px solid $window-divider-color;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .br-tp-subtitle {
        margin-left: 3%;
      }
      .form-uma-search {
        position: relative;
        margin-right: 3%;
      }
    }

    .result-search-container {
      position: relative;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      padding-top: 10px;
      padding-bottom: 25px;
    }
  }

  .sequence-uma-bar {
    position: relative;
    padding: 0;
    width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    order: 1;
    .topbar-uma-bar {
      position: relative;
      width: 100%;
      height: 50px;
      background-color: $topbar-ligt;
      display: flex;
      align-items: center;
      h5 {
        margin-left: 40px;
        font-size: 16px;
      }
    }
    .information-uma-bar {
      position: relative;
      width: 100%;
      height: 100px;
      background-color: white;
      border-right: 1px solid $window-divider-color;
      border-bottom: 1px solid $window-divider-color;
    }
    .container-uma-bar {
      position: relative;
      width: 100%;
      height: calc(100% - 150px);
      overflow-y: auto;
      border-right: 1px solid $window-divider-color;
      background-color: red;
    }
  }
}

.uma-item-sequence {
  background-color: $background-color-light;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  overflow-y: auto;
  .row-item-uma-secuence {
    position: relative;
    width: 94%;
    height: auto;
    min-height: 100%;
    border: 1px dashed $border-component;
    padding: 0 9px 9px 9px;
    margin: 0 auto;
    border-radius: 6px;
  }
}
.item-uma {
  position: relative;
  width: 100%;
  height: 100px;
  margin-top: 10px;
  background: white;
  border-radius: 6px;
  border: 1px solid #eaedf4;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  &:hover {
    // border: 1px solid #18bafb;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      transparent 8.1%,
      rgba(0, 0, 0, 0.001) 15.5%,
      rgba(0, 0, 0, 0.003) 22.5%,
      rgba(0, 0, 0, 0.005) 29%,
      rgba(0, 0, 0, 0.008) 35.3%,
      rgba(0, 0, 0, 0.011) 41.2%,
      rgba(0, 0, 0, 0.014) 47.1%,
      rgba(0, 0, 0, 0.016) 52.9%,
      rgba(0, 0, 0, 0.019) 58.8%,
      rgba(0, 0, 0, 0.022) 64.7%,
      rgba(0, 0, 0, 0.025) 71%,
      rgba(0, 0, 0, 0.027) 77.5%,
      rgba(0, 0, 0, 0.029) 84.5%,
      rgba(0, 0, 0, 0.03) 91.9%,
      rgba(0, 0, 0, 0.03) 100%
    );
  }

  .module-cover-br-image {
    margin-top: 0 !important;
    width: 50px;
    height: 50px;
    span {
      width: 40px;
      height: 40px;
    }
  }
  .course-desc-br-row {
    position: relative;
    width: calc(100% - 125px);
    height: auto;
    min-height: 40px;
    display: flex;
    z-index: 1;
    margin-right: 10px;
    .title-course-br {
      position: relative;
      width: 100%;
      height: auto;
      font-size: 13px;
      color: $blue-nimbus-dark;
      line-height: 17px;
      font-weight: 400;
      text-align: left;
    }
  }
  .delete-course-br {
    margin-left: 0;
    margin-right: 0;
  }
}

// container with results after to execute search
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled='true']) {
  background: transparent;
}
