<div class="properties-c-component">
    <!-- Header -->
    <div class="c-component-title">
        <div class="cct-link">
            <i class="icon ni-arrow"></i>
            <p>Propiedades</p>
        </div>
        <i class="icon ni-menudots"></i>
    </div>

    <!-- End Header -->

    <div class="c-component-content">
        <div class="row-c-component-c">
            <!-- Título tipo de componente -->
            <!-- <div class="title-typeMedia">
              <i class="icon ni-picture"></i>
              <h6>Imagen</h6>
            </div> -->

            <!-- Subir archivo -->
            <div class="cover-upload-c">
                <h6 *ngIf="isNotTextActivity()">Subir archivo</h6>
                <h6 *ngIf="isActivity()">Gestión Actividad</h6>

                <div class="row-up-image-area">
                    <div *ngIf="fileFormat === 'image'">
                        <!-- Imagen -->
                        <img [src]="defaultImageUrl" alt="" class="cover-upload-img" *ngIf="imgSrc === ''">
                        <img [src]="imgSrc" alt="" class="cover-upload-img" *ngIf="imgSrc !== ''">
                    </div>
                    <div *ngIf="fileFormat === 'video'" [ngClass]="{'test-video': thumbSrc !== ''}">
                        <!-- <video [src]="videoSrc" width="100%" controls #vPlayer></video>-->
                        <img [src]="defaultVideoUrl" alt="" class="cover-upload-video" *ngIf="thumbSrc === ''">
                        <span class="play-icon-test" (click)="loadVideo()" *ngIf="thumbSrc !== ''">
                            <i class="icon ni-play"></i>
                        </span>
                        <img [src]="thumbSrc" alt="" class="cover-upload-video-test" *ngIf="multimediaFileProperties.contenido !== 'unknown'">
                    </div>
                    <div *ngIf="fileFormat === 'pdf'" class="test-pdf">
                        <!-- Pdf -->
                        <img [src]="defaultPdfUrl" alt="" class="cover-upload-img" *ngIf="multimediaFileProperties.contenido === 'unknown'">
                        <span class="play-icon-test" (click)="pdfPreview()" *ngIf="multimediaFileProperties.contenido !== 'unknown'">
                            <i class="icon ni-view"></i>
                        </span>
                        <img [src]="loadedPdfUrl" alt="" class="cover-upload-img" *ngIf="multimediaFileProperties.contenido !== 'unknown'">
                    </div>
                    <div *ngIf="fileFormat === 'sound'" class="test-audio">
                        <!-- Audio -->
                        <img [src]="defaultSoundUrl" alt="" class="cover-upload-img" *ngIf="multimediaFileProperties.contenido === 'unknown'">
                        <span class="play-icon-test" (click)="loadSound()" *ngIf="multimediaFileProperties.contenido !== 'unknown' && !listenAudio">
                            <i class="icon ni-play"></i>
                        </span>
                        <img [src]="loadedSoundUrl" alt="" class="cover-upload-img" *ngIf="multimediaFileProperties.contenido !== 'unknown' && !listenAudio">
                        <audio [src]="soundSrc" controls controlsList="nodownload" #sPlayer *ngIf="soundSrc !== '' && listenAudio" class="audioPlayer"></audio>
                    </div>
                    <div *ngIf="fileFormat  === 'activity_question_text' || fileFormat === 'activity_question_media'"
                         class="test-pdf">
                        <!-- Activity -->
                        <img [src]="defaultQuestionsTextUrl" alt="" class="cover-upload-img" *ngIf="actividadProperties.contenido === 'unknown' && fileFormat  === 'activity_question_text'">
                        <img [src]="defaultQuestionsMediaUrl" alt="" class="cover-upload-img" *ngIf="actividadProperties.contenido === 'unknown' && fileFormat  === 'activity_question_media'">
                        <span class="play-icon-test" (click)="createUpdateActivity()" *ngIf=" actividadProperties.contenido !== 'unknown'">
                            <i class="icon ni-view"></i>
                        </span>
                        <img [src]="loadedQuestionsTextUrl" alt="" class="cover-upload-img" *ngIf="actividadProperties.contenido !== 'unknown' && fileFormat  === 'activity_question_text'">
                        <img [src]="loadedQuestionsMediaUrl" alt="" class="cover-upload-img" *ngIf="actividadProperties.contenido !== 'unknown' && fileFormat  === 'activity_question_media'">
                    </div>
                    <div *ngIf="fileFormat  === 'pregunta_texto'" class="test-pdf">
                        <!-- Activity (temp) -->
                        <img [src]="defaultQuestionsTextUrl" alt="" class="cover-upload-img" *ngIf="activity.contenido === {}">
                        <span class="play-icon-test" (click)="openActivityModal()">
                            <i class="icon ni-view"></i>
                        </span>
                        <img [src]="loadedQuestionsTextUrl" alt="" class="cover-upload-img" *ngIf="activity.contenido !== {}">
                    </div>
                    <div [hidden]="!showLoader" class="loader-cp">
                        <!-- Doing something -->
                        <span class="loader"></span>
                    </div>
                </div>
                <div class="row-sidebar-up-image-btn">
                    <button (click)="delete()" class="secondary-btn text-transform-none" *ngIf="(multimediaFileProperties.contenido !== 'unknown' && this.actividadProperties.contenido !== 'unknown') && fileFormat !== 'text'">
                        Eliminar
                    </button>
                    <button type="button" class="main-btn" (click)="fileInput.click()" *ngIf="isNotTextActivity()">
                        <span>Subir</span>
                        <input #fileInput type="file" (change)="selectFile($event)" style="display:none;"/>
                    </button>
                    <button type="button" class="main-btn" (click)="createUpdateActivity()" *ngIf="isActivity()">
                        <span>Actividad</span>
                        <input #fileInput type="file" (change)="selectFile($event)" style="display:none;"/>
                    </button>
                </div>

                <div class="properties-file" *ngIf="isNotTextActivity()">
                    <h6>Información</h6>
                    <div class="pf-item">
                        <label for="filename">Nombre:</label>
                        <input type="text" class="" [(ngModel)]="multimediaFileProperties.nombre" name="filename"
                               id="filename" disabled>
                    </div>
                    <div class="pf-item">
                        <label for="filesize">Peso:</label>
                        <input type="text" class="" [(ngModel)]="multimediaFileProperties.pesoPrint" name="filesize"
                               id="filesize" disabled>
                    </div>
                    <div class="pf-item">
                        <label for="filext">Extensión:</label>
                        <input type="text" class="" [(ngModel)]="multimediaFileProperties.extension" name="filext"
                               id="filext" disabled>
                    </div>

                    <div>
                        <jhi-constructor-component-properties-block></jhi-constructor-component-properties-block>
                    </div>

                </div>
            </div>
            <!-- Subir archivo -->
        </div>
    </div>
</div>
