@import '../../../content/scss/variables.scss';

.properties-c-component {
  position: relative;
  width: 100%;
  height: calc(100vh - 130px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-bottom: 1px solid $border-component;
}
.c-component-title {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: $tool-header;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3px;
  .cct-link {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .icon {
      margin-left: 4px;
    }
    p {
      position: relative;
      width: auto;
      height: auto;
      font-size: 12px;
      cursor: default;
    }
  }
  .ni-menudots {
    position: absolute;
    right: 5px;
    top: 4px;
  }
}
.c-component-content {
  position: absolute;
  width: 100%;
  height: calc(100% - 30px);
  top: 30px;
  left: 0;
  overflow-y: auto;

  .row-c-component-c {
    position: relative;
    width: 88%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
  }
}
.title-typeMedia {
  position: relative;
  width: 100%;
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  .icon {
    position: relative;
    width: auto;
    height: auto;
  }

  h6 {
    position: relative;
    width: auto;
    height: auto;
    font-size: 13px;
    color: #1a3d82;
    margin: 0;
    margin-left: 8px;
  }
}
.cover-upload-c {
  h6 {
    font-size: 12px;
    color: $blue-nimbus-dark;
  }
}
.row-up-image-area {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 5px;
  padding-bottom: 12px;
  display: flex;
  justify-content: center;
  transition: 0.3s;

  div {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    height: 128px;
    overflow: hidden;
    border: 1px solid $border-component;
    background-color: white;
    img {
      position: relative;
      width: 100%;
      height: auto;
    }
  }
}
.row-sidebar-up-image-btn {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 12px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  button {
    height: 28px;
    font-size: 13px;
    padding-left: 12px;
    padding-right: 12px;
    letter-spacing: 0px;
    border-radius: 8px;
  }
}

.test-video {
  .play-icon-test {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 18, 51, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    z-index: 2;
    .icon {
      font-size: 34px;
      color: white;
      text-shadow: 4px 2px 8px rgba(26, 61, 130, 0.8);
      transition: 0.3s;
      opacity: 0.8;
      cursor: pointer;
    }
    &:hover {
      background-color: rgba(16, 18, 51, 0.7);
      .icon {
        opacity: 1;
      }
    }
  }
}

// Loader
.loader-cp {
  position: absolute !important;
  width: 100% !important;
  // height: 100% !important;
  background-color: rgba(26, 61, 130, 0.6) !important;
  z-index: 3 !important;
  overflow: visible !important;
  border: 0 !important;
  cursor: default !important;
}

.test-pdf {
  .play-icon-test {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 18, 51, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    z-index: 2;
    .icon {
      font-size: 34px;
      color: white;
      text-shadow: 4px 2px 8px rgba(26, 61, 130, 0.8);
      transition: 0.3s;
      opacity: 0.8;
      cursor: pointer;
    }
    &:hover {
      background-color: rgba(16, 18, 51, 0.7);
      .icon {
        opacity: 1;
      }
    }
  }
}
.test-audio {
  .play-icon-test {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 18, 51, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    z-index: 2;
    .icon {
      font-size: 34px;
      color: white;
      text-shadow: 4px 2px 8px rgba(26, 61, 130, 0.8);
      transition: 0.3s;
      opacity: 0.8;
      cursor: pointer;
    }
    &:hover {
      background-color: rgba(16, 18, 51, 0.7);
      .icon {
        opacity: 1;
      }
    }
  }
}

// Audio Player
.audioPlayer {
  display: block;
  border-radius: 0px;
  margin: 0 auto;
}

// Properties
.properties-file {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  border-top: 1px solid $border-component;
  padding-top: 15px;

  h6 {
    position: relative;
    width: 100%;
    height: auto;
    font-size: 12px;
    color: #1a3d82;
  }

  .pf-item {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;

    label {
      position: relative;
      width: 35%;
      height: auto;
      font-size: 12px;
      color: #1a3d82;
    }
    input {
      position: relative;
      width: 65%;
      height: auto;
      font-size: 12px;
      height: 27px;
      padding-left: 8px;
      padding-right: 8px;
      border: 0;
      background-color: #f4f5f7;
      // color: darkgrey;
      color: lightslategrey;
      border-radius: 4px;
    }
  }
}
