<div class="properties-c-component">
    <!-- Header -->
    <div class="c-component-title">
        <div class="cct-link">
            <i class="icon ni-arrow"></i>
            <p jhiTranslate="rightbar.properties.properties">Propiedades</p>
        </div>
        <i class="icon ni-menudots"></i>
    </div>

    <!-- End Header -->

    <div class="c-component-content">
        <div class="row-c-component-c">
            <!-- Título tipo de componente -->
            <!-- <div class="title-typeMedia">
              <i class="icon ni-picture"></i>
              <h6>Imagen</h6>
            </div> -->

            <!-- Subir archivo -->
            <div class="cover-upload-c">
                <h6 *ngIf="!isActivity()" jhiTranslate="rightbar.properties.uploadfile">Subir archivo</h6>
                <h6 *ngIf="isActivity()" jhiTranslate="rightbar.properties.management">Gestión Actividad</h6>

                <div class="row-up-image-area">
                    <div *ngIf="fileFormat === 'image'">
                        <!-- Imagen -->
                        <img [src]="defaultImageUrl" alt="" class="cover-upload-img" *ngIf="imgSrc === ''">
                        <img [src]="imgSrc" alt="" class="cover-upload-img" *ngIf="imgSrc !== ''">
                    </div>
                    <div *ngIf="fileFormat === 'video'" [ngClass]="{'test-video': thumbSrc !== ''}">
                        <!-- <video [src]="videoSrc" width="100%" controls #vPlayer></video>-->
                        <img [src]="defaultVideoUrl" alt="" class="cover-upload-video" *ngIf="thumbSrc === ''">
                        <span class="play-icon-test" (click)="loadVideo()" *ngIf="thumbSrc !== ''">
                            <i class="icon ni-play"></i>
                        </span>
                        <img [src]="thumbSrc" alt="" class="cover-upload-video-test" *ngIf="multimediaFileProperties && multimediaFileProperties.contenido !== 'unknown'">
                    </div>
                    <div *ngIf="fileFormat === 'pdf'" class="test-pdf">
                        <!-- Pdf -->
                        <img [src]="defaultPdfUrl" alt="" class="cover-upload-img" *ngIf="multimediaFileProperties && multimediaFileProperties.contenido === 'unknown'">
                        <span class="play-icon-test" (click)="pdfPreview()" *ngIf="multimediaFileProperties && multimediaFileProperties.contenido !== 'unknown'">
                            <i class="icon ni-view"></i>
                        </span>
                        <img [src]="loadedPdfUrl" alt="" class="cover-upload-img" *ngIf="multimediaFileProperties && multimediaFileProperties.contenido !== 'unknown'">
                    </div>
                    <div *ngIf="fileFormat === 'sound'" class="test-audio">
                        <!-- Audio -->
                        <img [src]="defaultSoundUrl" alt="" class="cover-upload-img" *ngIf="multimediaFileProperties && multimediaFileProperties.contenido === 'unknown'">
                        <span class="play-icon-test" (click)="loadSound()" *ngIf="multimediaFileProperties && multimediaFileProperties.contenido !== 'unknown' && !listenAudio">
                            <i class="icon ni-play"></i>
                        </span>
                        <img [src]="loadedSoundUrl" alt="" class="cover-upload-img" *ngIf="multimediaFileProperties && multimediaFileProperties.contenido !== 'unknown' && !listenAudio">
                        <audio [src]="soundSrc" controls controlsList="nodownload" #sPlayer *ngIf="soundSrc !== '' && listenAudio" class="audioPlayer"></audio>
                    </div>
                    <!-- Actividad -->
                    <div *ngIf="isActivity()" class="test-pdf">
                        <img [src]="defaultQuestionsTextUrl" alt="" class="cover-upload-img" *ngIf="activity && activityHasContent()">
                        <span class="play-icon-test" (click)="openActivityModal()" *ngIf="activity && activityHasContent()">
                            <i class="icon ni-view"></i>
                        </span>
                        <img [src]="loadedQuestionsTextUrl" alt="" class="cover-upload-img" *ngIf="activity && !activityHasContent()">
                    </div>
                    <!-- Actividad termina -->
                    <div [hidden]="!showLoader" class="loader-cp">
                        <!-- Doing something -->
                        <span class="loader"></span>
                    </div>
                </div>
                <div class="row-sidebar-up-image-btn" *ngIf="!isActivity()">
                    No es actividad
                    <button (click)="delete()" class="secondary-btn text-transform-none" *ngIf="multimediaFileProperties.contenido !== 'unknown'">
                        Eliminar
                    </button>
                    <button type="button" class="main-btn" (click)="fileInput.click()" *ngIf="!isActivity()">
                        <span jhiTranslate="rightbar.properties.upload">Subir</span>
                        <input #fileInput type="file" (change)="selectFile($event)" style="display:none;"/>
                    </button>
                    <button type="button" class="main-btn" (click)="createUpdateActivity()" *ngIf="isActivity()">
                        <span jhiTranslate="rightbar.properties.activity">Actividad</span>
                        <input #fileInput type="file" (change)="selectFile($event)" style="display:none;"/>
                    </button>
                </div>
                <!-- Pregunta -->
                <div class="row-sidebar-up-image-btn" *ngIf="activity && !activityHasContent()">
                    <button type="button" class="main-btn" (click)="openActivityModal()">   
                        <span jhiTranslate="rightbar.properties.activity">Actividad</span>
                    </button>
                </div>
                <!-- Pregunta termina -->

                <div class="properties-file" *ngIf="!isActivity() && fileFormat !== 'pregunta_texto'">
                    <h6 jhiTranslate="rightbar.properties.information">Información</h6>
                    <div class="pf-item">
                        <label for="filename" jhiTranslate="rightbar.properties.name">Nombre:</label>
                        <input type="text" class="" [(ngModel)]="multimediaFileProperties.nombre" name="filename"
                               id="filename" disabled>
                    </div>
                    <div class="pf-item">
                        <label for="filesize" jhiTranslate="rightbar.properties.weight">Peso:</label>
                        <input type="text" class="" [(ngModel)]="multimediaFileProperties.pesoPrint" name="filesize"
                               id="filesize" disabled>
                    </div>
                    <div class="pf-item">
                        <label for="filext" jhiTranslate="rightbar.properties.extension">Extensión:</label>
                        <input type="text" class="" [(ngModel)]="multimediaFileProperties.extension" name="filext"
                               id="filext" disabled>
                    </div>

                    <div>
                        <jhi-constructor-component-properties-block></jhi-constructor-component-properties-block>
                    </div>

                </div>
            </div>
            <!-- Subir archivo -->
        </div>
    </div>
</div>
