<div class="properties-c-component">

  <!-- Header -->

  <div class="c-component-title">
    <div class="cct-link">
      <i class="icon ni-arrow"></i>
      <p>Propiedades</p>
    </div>
    <i class="icon ni-menudots"></i>
  </div>

  <!-- End Header -->

  <div class="c-component-content">
    <div class="row-c-component-c">

      <!-- Subir archivo -->
      <div class="cover-upload-c">
        <h6>Subir archivo</h6>

        <div class="row-up-image-area">
          <div *ngIf="fileFormat === 'image'">
            <!-- Imagen -->
            <img [src]="defaultImageUrl" alt="" class="cover-upload-img" *ngIf="imgSrc === ''">
            <img [src]="imgSrc" alt="" class="cover-upload-img" *ngIf="imgSrc !== ''">
          </div>
          <div *ngIf="(fileFormat === 'video' && videoSrc !== '') || thumbSrc === ''" [ngClass]="{'test-video': thumbSrc !== ''}">
              <img [src]="defaultVideoUrl" alt="" class="cover-upload-video" *ngIf="thumbSrc === ''">
              <span class="play-icon-test" (click)="loadVideo()" *ngIf="thumbSrc !== ''"><i class="icon ni-play"></i></span>
              <img [src]="thumbSrc" alt="" class="cover-upload-video-test" *ngIf="videoSrc !== ''">
           <!-- <video [src]="videoSrc" width="100%" controls #vPlayer></video>-->
          </div>
          <div *ngIf="fileFormat === 'pdf'" class="test-pdf">
            <!-- Pdf -->
            <img [src]="defaultPdfUrl" alt="" class="cover-upload-img" *ngIf="pdfSrc === ''">
            <span class="play-icon-test" (click)="pdfPreview()" *ngIf="pdfSrc !== ''"><i class="icon ni-view"></i></span>
            <img [src]="loadedPdfUrl" alt="" class="cover-upload-img" *ngIf="pdfSrc !== ''">
            <!-- <img [src]="loadedPdfUrl" alt="" class="cover-upload-img" *ngIf="pdfSrc !== ''" (click)="pdfPreview()"> -->
          </div>
          <div *ngIf="fileFormat === 'sound'" class="test-audio">
            <img [src]="defaultSoundUrl" alt="" class="cover-upload-img" *ngIf="soundSrc === ''">
            <span class="play-icon-test" (click)="loadSound()" *ngIf="soundSrc !== '' && !listenAudio"><i class="icon ni-play"></i></span>
            <img [src]="loadedSoundUrl" alt="" class="cover-upload-img" *ngIf="soundSrc !== '' && !listenAudio">
            <audio [src]="soundSrc" controls controlsList="nodownload" #sPlayer *ngIf="soundSrc !== '' && listenAudio" class="audioPlayer" ></audio>
          </div>
          <div [hidden]="!showLoader" class="loader-cp">
            <!-- Doing something -->
            <span class="loader"></span>
          </div>
        </div>

        <div class="row-sidebar-up-image-btn">
          <button (click)="delete()" class="secondary-btn text-transform-none"
            *ngIf="this.pathUrl !== ''">Eliminar</button>
          <button type="button" class="main-btn" (click)="fileInput.click()">
            <span>Subir</span>
            <input #fileInput type="file" (change)="selectFile($event)" style="display:none;" />
          </button>
        </div>

      </div>
      <!-- Subir archivo -->

    </div>
  </div>

</div>
