<div class="container-accordion">
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header [collapsedHeight]="'100px'" [expandedHeight]="'100px'" class="disable_ripple">
                <mat-panel-title>
                    <ng-container *ngIf="componentes[0]">
                        <jhi-visor-text [component]="componentes[0]!"
                            [templateType]="contentBlock!.bloqueComponentes!.tipoBloqueComponentes!"
                            (updateComponent)="onUpdateComponent($event, 0)">
                        </jhi-visor-text>
                    </ng-container>
                </mat-panel-title>
                <!-- <mat-panel-description>
                    {{panelOpenState ? 'open' : 'closed'}}
                </mat-panel-description> -->
            </mat-expansion-panel-header>
            <div class="accordion-text">

                <div class="block-header-txt">
                    <ng-container *ngIf="componentes[0]">
                        <jhi-visor-text [component]="componentes[1]!"
                            [templateType]="contentBlock!.bloqueComponentes!.tipoBloqueComponentes!"
                            (updateComponent)="onUpdateComponent($event, 1)">
                        </jhi-visor-text>
                    </ng-container>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
