@import '../../../content/scss/variables.scss';

.filmstrip-c-component {
  position: relative;
  width: 100%;
  height: calc(100vh - 240px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
@media (max-height: 600px) {
  .filmstrip-c-component {
    // height: calc(100vh - 360px);
  }
}
.c-component-title {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: $tool-header;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3px;
  .cct-link {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .icon {
      margin-left: 4px;
    }
    p {
      position: relative;
      width: auto;
      height: auto;
      font-size: $tx-size-title-lc;
      cursor: default;
    }
  }
  .ni-menudots {
    position: absolute;
    right: 5px;
    top: 4px;
  }
}
.c-component-content {
  position: absolute;
  width: 100%;
  height: calc(100% - 30px);
  top: 30px;
  left: 0;
  overflow-y: auto;

  .row-c-component-c {
    position: relative;
    width: 88%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

.row-artboard-filmstrip {
  position: relative;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  border: 1px solid $input-border-light;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.3s;
  border-radius: $border-mini;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  &:hover {
    border: 1px solid $blue-nimbus-dark;
  }
  &:active {
    animation: shake 2s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
    transform: translate3d(0, 0, 0);
  }

  .row-drag-ud {
    position: relative;
    width: 20px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      cursor: move;
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;
    }
  }

  .artboard-mini {
    position: relative;
    width: 100px;
    height: 70px;
    background-color: white;
    border-radius: $border-mini;
    border: 1px solid $border-component;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s;
    background-size: 50px;
    cursor: pointer;
    &:hover {
      border: 1px solid $border-component-hover;
    }
    &:hover + .ab-mini-desc p:nth-child(1) {
      color: #212342;
    }
  }
  .ab-mini-select {
    border: 2px solid $border-component-selected !important;
  }
  .ab-mini-desc {
    position: relative;
    width: 100px;
    height: 70px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    .ab-m-title {
      position: relative;
      width: 90%;
      height: auto;
      font-size: $tx-size-s;
      cursor: pointer;
      transition: 0.4s;
      line-height: 16px;
      margin-top: 8px;
      top: 6px;
    }
    .delete-ab {
      position: absolute;
      width: 90%;
      height: auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      bottom: 6px;

      p {
        position: relative;
        width: auto;
        height: auto;
        font-size: $tx-size-xs;
        font-weight: 600;
        margin-left: 4px;
        cursor: pointer;
        color: #212342;
      }
    }
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(1px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-1px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(1px, 0, 0);
  }
}
