<div class="filmstrip-c-component">
  <!-- Header -->
  <div class="c-component-title">
    <div class="cct-link">
      <i class="icon ni-arrow"></i>
      <p jhiTranslate="leftbar.strip">Tira de película</p>
    </div>
    <i class="icon ni-menudots"></i>
  </div>
  <!-- End Header -->
  <div class="c-component-content">
    <div class="row-c-component-c" cdkDropList (cdkDropListDropped)="drop($event)">

      <div class="row-artboard-filmstrip" *ngFor="let contentBlock of contentBlocks; let index = index" cdkDrag>
        <div class="row-drag-ud">
          <div class="icon ni-drag" *ngIf="validateFimstripsSize()"></div>
        </div>
        <div
          class="artboard-mini"
          [ngClass]="{'ab-mini-select': selectedContentBlockIndex == index}"
          [style.backgroundImage]="'url(' + contentBlock.bloqueComponentes.tipoBloqueComponentes.iconPath + ')'"
          (click)="selectContentBlock(index);">
        </div>
        <div class="ab-mini-desc">
          <!-- <p>{{contentBlock.bloqueComponentes.name}}</p> -->
          <p class="ab-m-title">{{ contentBlock.bloqueComponentes!.tipoBloqueComponentes!.descripcion }}</p>
          <div class="delete-ab" (click)="deleteContentBlock(index)">
            <i class="icon ni-delete"></i>
            <p jhiTranslate="leftbar.delete">Eliminar</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
