@import '../../content/scss/variables.scss';
.window-br {
  /*
  .search-container-learning {
    border: solid 1px red;

    .example-form {
      min-width: 150px;
      max-width: 500px;
      width: 100%;
    }

    .example-full-width {
      width: 100%;
    }
  }
  */
  .search-main-container {
    // border: solid 1px red;
    margin: 0 auto;
    width: 94%;
  }
  .container-search-flearning {
    // border: solid 1px red;
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
    flex-direction: column;
  }
  .rc-search-flearning {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  .cc-search-flearning {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
    // border: solid 1px green;
  }
}
// contenedor de elementos de modulo listados
.br-body-row {
  border: dotted 1px yellow;
  position: relative;
  width: 94%;
  height: auto;
  margin: 0 auto;
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.form-learning-path {
  padding: 1.5em;
}
