@import '../../../../content/scss/variables.scss';
.constructor-container-header {
  position: relative;
  width: 100%;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  .block-header-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 2;
    border: 1px dashed $blue-nimbus-light;
    transition: 0.3s;
    &:hover {
      border: 1px solid $blue-nimbus-dark;
    }
  }
  .block-header-txt {
    position: relative;
    width: 80%;
    height: auto;
    z-index: 3;
    border: 1px dashed $blue-nimbus-light;
    transition: 0.3s;
    &:hover {
      border: 1px solid $blue-nimbus-dark;
    }
  }
}
