.constructor-container-header {
  // border: solic 1px red;
  position: relative;

  .block-header-img {
    // border   : solid 1px red;
    // height: 250px;
    width: 100%;
    // .block-img {
    //     border: solid 1px green !important;
    //     width: 100%;
    // }
  }

  .block-header-txt {
    border: dotted 1px #ccc;
    position: absolute;
    top: 70%;
    width: 60%;
    left: 50%;
    margin-left: -30%;
    z-index: 9999;
  }
}
