<div class="information-c-component">
  <div class="c-component-title">
    <div class="cct-link">
      <i class="icon ni-arrow"></i>
      <p>Información</p>
    </div>
    <i class="icon ni-menudots"></i>
  </div>
  <div class="c-component-content">
    <div class="row-c-component-c">

      <div class="ic-row-cover">
        <img [src]="portadaCursoUrl" *ngIf="portadaCursoUrl && portadaCursoUrl !== ''" class="info-cover" [ngClass]="{ 'info-cover-default': !isPngImage }">
        <img *ngIf="module && module !== ''" class="info-cover info-cover-module">
        <img *ngIf="(!portadaCursoUrl || portadaCursoUrl === '') && (!module || module === '')"  class="info-cover info-cover-default">
      </div>
      <div class="ic-row-text">
        <p *ngIf="course">{{course.titulo}}</p>
      </div>
    </div>
  </div>
</div>
