<div class="modal-activity-container">
    <div class="modal-act-header">
        <div class="row-mah">
            <div class="nimbus-imagotype"></div>
            <h2 id="jhi-curso-heading" jhiTranslate="activityquestion.title">Actividad interactiva</h2>
            <h3>I </h3>
            <div class="alert-course-configuration">
                <jhi-alert-error></jhi-alert-error>
            </div>
            <!-- <p>*Campo obligatorio</p> -->
        </div>
    </div>
    <form name="activityForm" role="form" novalidate [formGroup]="activityForm" class="modal-act-content"
          (keydown)="onKeyDown($event)">
        <!-- Body -->
        <!--
        <div class="row-wg margintop-40">
            <div class="col-question">
                <pre> {{ activityForm.getRawValue() | json }}</pre>
            </div>
        </div>-->
        <mat-drawer-container class="modal-act-body">
            <!-- Work area -->
            <mat-drawer-content class="mat-drawer-content">
                <div class="header-mdc">
                    <div class="type-q">
                        <label jhiTranslate="activityquestion.select">Selecciona el tipo de respuesta:</label>
                        <div class="col-type-question" formGroupName="tipoActividad"
                             [ngClass]="{'ng-untouched ng-pristine ng-invalid alert-input': !isValidOpcion()}">
                            <mat-radio-group aria-label="Select an option" formControlName="opcionConcatenada"
                                             name="opcionConcatenada">
                                <mat-radio-button value="{{PREG_AUDIO_RESP_UNICA_TEXTO}}" id="type_question8"
                                                  class="question-radio" (change)="onOpcionChange($event)"
                                                  [hidden]="opcionIn != '' && opcionIn!=PREG_AUDIO_RESP_UNICA_TEXTO">
                                   <span jhiTranslate="activityquestion.audiounic">Audio Única</span>
                                </mat-radio-button>
                                <mat-radio-button value="{{PREG_AUDIO_RESP_MULTIPLE_TEXTO}}" id="type_question9"
                                                  class="question-radio" (change)="onOpcionChange($event)"
                                                  [hidden]="opcionIn != '' && opcionIn!=PREG_AUDIO_RESP_MULTIPLE_TEXTO">
                                    <span jhiTranslate="activityquestion.audiomultiple">Audio Múltiple</span>
                                </mat-radio-button>
                                <mat-radio-button value="{{PREG_AUDIO_RESP_BOOLEAN_TEXTO}}" id="type_question10"
                                                  class="question-radio" (change)="onOpcionChange($event)"
                                                  [hidden]="opcionIn != '' && opcionIn!=PREG_AUDIO_RESP_BOOLEAN_TEXTO">
                                    <span jhiTranslate="activityquestion.audiotruefalse">Audio Verdadero Falso</span>
                                </mat-radio-button>

                            </mat-radio-group>
                        </div>
                        <div class="form-nimbus">
                            <div *ngIf="!isValidOpcion()" class="form-alert">
                                <p jhiTranslate="activityquestion.obligatory">Es obligatorio seleccionar una opción</p>
                            </div>
                        </div>
                    </div>
                    <div class="type-q-evaluable">
                        <div class="col-type-question">
                            <label jhiTranslate="activityquestion.evaluable">Evaluable:</label>
                            <mat-checkbox mat-raised-button id="evaluable" formControlName="evaluable"></mat-checkbox>
                        </div>
                    </div>
                </div>

                <jhi-activity-questions [activityForm]="activityForm" [submitted]="submitted"
                                        [typeQuestion]="typeQuestion()" [id]="id">
                </jhi-activity-questions>

            </mat-drawer-content>
            <!-- Preview -->
            <mat-drawer mode="side" opened class="mat-drawer-preview">
                <jhi-activity-preview [jsonForm]="activityForm.getRawValue()" [activityForm]="activityForm"
                                      [typeQuestion]="typeQuestion()"></jhi-activity-preview>
            </mat-drawer>
        </mat-drawer-container>
        <!-- End body -->
        <!-- Footer -->
        <div class="modal-act-footer">
            <button (click)="close()" class="secondary-btn" jhiTranslate="activityquestion.cancel">Cancelar</button>
            <button type="button" (click)="onSubmit()" class="main-btn">
                <span *ngIf="!jsonFormIn" jhiTranslate="activityquestion.create">Crear&nbsp;Actividad</span>
                <span *ngIf="jsonFormIn" jhiTranslate="activityquestion.edit">Editar&nbsp;Actividad</span>
            </button>
        </div>
        <!-- End Footer -->
    </form>
    <!-- End Content body -->
</div>
