<!-- Agregar clase "topbar-darkmode" a "topbar-layout" para darkmode -->
<nav class="topbar-layout" [ngClass]="{'topbar-darkmode': selectedColorMode.class === 'ni-dark'}">
    <div class="layout-tool-menu">
      <div class="row-ltm">
        <div class="nbm-i2-set-1">
          <!-- Tools left -->
          <!-- <a class="dropdown-item a-dd-tool" routerLinkActive="active" (click)="collapseNavbar();redirectHome();"> -->
          <div class="nb-icon-tool">
            <i class="icon ni-arrowleft"></i>
            <div class="nb-text">Atrás</div>
          </div>
        </div>

        <div class="nbm-i2-set-2">
          <!-- Tools right -->
          <!-- Dropown tool -->
          <div class="nav-tool-dd nav-tool" ngbDropdown display="dynamic" routerLinkActive="active">
              <a class="dd-a" ngbDropdownToggle id="nav-tool-mode">
                <i class="icon" [ngClass]="selectedColorMode.class"></i>
                <div class="nb-text">{{selectedColorMode.text}}</div>
              </a>
              <!-- Dropdown Menu -->
              <div class="dropdown-menu dd-tool" ngbDropdownMenu aria-labelledby="nav-tool-mode">
                <a *ngFor="let colorMode of colorModes" class="dropdown-item a-dd-tool" routerLink="#" routerLinkActive="active" (click)="collapseNavbar(); selectColorMode(colorMode);">
                  <i class="icon" [ngClass]="colorMode.class"></i>
                  <p>{{colorMode.text}}</p>
                </a>
              </div>
          </div>
          <!-- End Dropown tool -->
          <!-- Dropown tool -->
          <div class="nav-tool-dd nav-tool" ngbDropdown display="dynamic" routerLinkActive="active">
            <!-- <a class="dd-a" ngbDropdownToggle href="javascript:void(0);" id="nav-tool"> -->
              <a class="dd-a" ngbDropdownToggle id="nav-tool-screen">
                <i class="icon" [ngClass]="selectedSizeMenu.class"></i>
                <div class="nb-text">{{selectedSizeMenu.text}}</div>
              </a>
              <div class="dropdown-menu dd-tool" ngbDropdownMenu aria-labelledby="nav-tool-screen">
                  <a *ngFor="let sizeMenu of sizeMenus" class="dropdown-item a-dd-tool" routerLink="#" routerLinkActive="active" (click)="collapseNavbar(); changeVisorSize(sizeMenu.value); selectedSizeMenu=sizeMenu;">
                    <i class="icon" [ngClass]="sizeMenu.class"></i>
                    <p>{{sizeMenu.text}}</p>
                  </a>
              </div>
          </div>
          <!-- End Dropown tool -->
          <div class="nb-icon-tool nb-disabled">
            <i class="icon ni-view"></i>
            <div class="nb-text">Preview</div>
          </div>
        </div>

      </div>
    </div>
</nav>
