<div>
    <mat-form-field>
        <mat-chip-list #chipList aria-label="Tipos de UMA">
            <mat-chip *ngFor="let tipo of listTiposModuloTest" [selectable]="selectable" [removable]="removable"
                (removed)="removeTipo(tipo)">
                {{tipo.nombre}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Tipos de UMA" #moduleTypeInput [formControl]="moduleTypeCtrl"
                [matAutocomplete]="auto" [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addTipo($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTipo($event)">
            <mat-option *ngFor="let typeModOpt of filteredTiposModulo | async" [value]="typeModOpt">
                {{typeModOpt.nombre}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>