<div class="main-container-br">

  <div class="window-br">

    <!-- New Header -->
    <div class="window-br-header">
      <div class="row-br-header">
        <div class="header-breadcrumbs">
          <div class="logo-home" routerLink="/"><i class="icon ni-nimbus"></i></div>
          <div class="hb-title">Nimbus Constructor</div>
        </div>
        <div class="row-btn-brheader">
          <div class="button-hc">
              <i class="icon ni-support"></i><span jhiTranslate="home.support">Soporte</span>
          </div>
          <div class="button-hc">
              <i class="icon ni-help"></i><span jhiTranslate="home.help">Ayuda</span>
          </div>
        </div>
      </div>
    </div>

    <div class="window-br-body-topbar topbar-home">
      <div class="line-gradient"></div>
      <div class="row-wbr-bt">
        <div class="br-tp-subtitle">
          <h5 jhiTranslate="home.select">Selecciona una opción</h5>
        </div>
      </div>
    </div>

    <div class="window-br-body">
      <div class="row-new-home">
        <!-- Circle 1 -->
        <div class="home-element" (click)="redirectUMAs();">
          <div class="he-img heimg1">
            <div class="he-letter">U</div>
            <div class="he-circle">
              <div class="is1-picture"></div>
              <div class="is1-background"></div>
              <div class="home-image-step"></div>
            </div>
          </div>
          <div class="he-text">
            <h4 jhiTranslate="home.menu.uma.name">Constructor de UMA</h4>
            <div class="divider-he"></div>
            <p jhiTranslate="home.menu.uma.description">Crea y edita UMA (Unidad Mínima de Aprendizaje).</p>
          </div>
          <button (click)="redirectUMAs();" class="main-btn" jhiTranslate="home.menu.uma.select">Seleccionar</button>
          <!-- <div class="svg-bottom"></div> -->
        </div>
        <!-- Circle 2 -->
        <div class="home-element" (click)="redirectGroupUMA();">
          <div class="he-img heimg2">
            <div class="he-letter">A</div>
            <div class="he-circle">
              <div class="is2-background"></div>
              <div class="is2-picture1"></div>
              <div class="is2-picture2"></div>
              <div class="home-image-step"></div>
            </div>
          </div>
          <div class="he-text">
            <h4 jhiTranslate="home.menu.group.name">Agrupador de UMA</h4>
            <div class="divider-he"></div>
            <p jhiTranslate="home.menu.group.description">Crea y edita Agrupadores de UMA.</p>
          </div>
          <button (click)="redirectGroupUMA();" class="main-btn" jhiTranslate="home.menu.group.select">Seleccionar</button>
        </div>
        <!-- Circle 3 -->
        <div class="home-element" (click)="redirectLearningPath();">
          <div class="he-img heimg3">
            <div class="he-letter">P</div>
            <div class="he-circle">
              <div class="is3-background"></div>
              <div class="is3-background-1"></div>
              <div class="is3-background-2"></div>
              <div class="home-image-step"></div>
            </div>
          </div>
          <div class="he-text">
            <h4 jhiTranslate="home.menu.learning.name">Creador de programas</h4>
            <div class="divider-he"></div>
            <p jhiTranslate="home.menu.learning.description">Agrega agrupadores de UMA para crear programas.</p>
          </div>
          <button (click)="redirectLearningPath();" class="main-btn" jhiTranslate="home.menu.learning.select">Seleccionar</button>
        </div>

        <!--<div class="home-element" (click)="redirectCalendar();">
              <div class="he-img heimg4">
                  <div class="home-image-step"></div>
              </div>
              <div class="he-text">
                  <h4> <div class="he-i he-icon-1"></div>
                      <label jhiTranslate="home.menu.calendar.name">Calendario</label>
                  </h4>
                  <div class="divider-he"></div>
                  <p jhiTranslate="home.menu.calendar.description">Tareas programadas en Google Calender</p>
              </div>
              <button (click)="redirectCalendar();" class="main-btn" jhiTranslate="home.menu.calendar.select">Seleccionar</button>
          </div>-->
      </div>

    </div>


    <div class="window-br-footer">
    </div>

  </div>

</div>
