<div class="main-container-br">

  <div class="window-br">

    <div class="window-br-header">
      <div class="r1">
        <div class="logo-home-mini"></div>
      </div>
      <div class="r2">
        <div class="c1">
          <div class="button-hc"><i class="icon ni-support"></i>Soporte</div>
          <div class="button-hc"><i class="icon ni-help"></i>Ayuda</div>
        </div>
      </div>
    </div>

    <div class="window-br-body-topbar">
      <div class="line-gradient"></div>
      <div class="row-wbr-bt">
        <p>Selecciona una opción</p>
      </div>
    </div>

    <div class="window-br-body">
      <div class="row-new-home">
        <div class="home-element" (click)="redirectUMAs();">
          <div class="he-img heimg1">
            <div class="home-image-step"></div>
          </div>
          <div class="he-text">
            <h4> <div class="he-i he-icon-1"></div> Constructor de UMA</h4>
            <div class="divider-he"></div>
            <p>Crea y edita UMA (Unidad Mínima de Aprendizaje).</p>
          </div>
          <button (click)="redirectUMAs();" class="main-btn">Seleccionar</button>
        </div>

        <div class="home-element" (click)="redirectGroupUMA();">
          <!-- <div class="indicator-step"><div class="icon-step-w"></div></div> -->
          <div class="he-img heimg2">
            <div class="home-image-step"></div>
          </div>
          <div class="he-text">
            <h4> <div class="he-i he-icon-1"></div> Agrupador de UMA</h4>
            <div class="divider-he"></div>
            <p>Crea y edita secuencias de UMA y Agrupadores.</p>
          </div>
          <button (click)="redirectGroupUMA();" class="main-btn">Seleccionar</button>
        </div>
        <div class="home-element" (click)="redirectLearningPath();">
          <div class="he-img heimg3">
            <div class="home-image-step"></div>
          </div>
          <div class="he-text">
            <h4> <div class="he-i he-icon-1"></div> Rutas de aprendizaje</h4>
            <div class="divider-he"></div>
            <p>Agrega agrupadores de UMA para crear rutas de aprendizaje.</p>
          </div>
          <button (click)="redirectLearningPath();" class="main-btn">Seleccionar</button>
        </div>
      </div>

    </div>


    <div class="window-br-footer">
    </div>

  </div>

</div>
