@import '../../content/scss/variables.scss';

.row-new-home {
  position: relative;
  width: 92%;
  height: 140px;
  margin: 0 auto;
  top: 50%;
  margin-top: -170px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
// Home element
.home-element {
  position: relative;
  width: 280px;
  height: 330px;
  background-color: $light-color-1;
  border-radius: $border-radius-8;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: border 0.5s;
  border: 1px solid $border-light;
  margin-left: 2%;
  margin-right: 2%;
  overflow: hidden;
  &:hover {
    border: 1px solid #18bafb;
  }

  .he-text {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    h4 {
      position: relative;
      width: 80%;
      height: auto;
      font-size: 17px;
      font-weight: 600;
      color: $blue-nimbus-dark;
      text-align: center;
    }
    p {
      position: relative;
      width: 80%;
      height: auto;
      text-align: left;
      line-height: 23px;
      min-height: 50px;
    }
  }

  .he-img {
    position: relative;
    width: 120px;
    height: 120px;
    margin-top: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    .he-letter {
      position: absolute;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      z-index: 2;
      top: 50%;
      margin-top: -14px;
      left: 10px;
      font-size: 17px;
      font-weight: 700;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s ease-in;
    }
    .he-circle {
      position: relative;
      width: 108px;
      height: 108px;
      background-color: #eaedf4;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;

      .home-image-step {
        position: relative;
        width: 100px;
        height: 100px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
      }
    }
  }
  button {
    margin-top: 15px;
  }
}
.heimg1 {
  background: $color-step-1;
  .he-letter {
    background: $color-step-1;
  }
  .he-circle {
    .home-image-step {
      background-image: url('../../content/images/bg_step1.png');
    }
  }
}
.heimg2 {
  background: $color-step-2;
  .he-letter {
    background: $color-step-2;
  }
  .he-circle {
    .home-image-step {
      background-image: url('../../content/images/bg_step2.png');
    }
  }
}
.heimg3 {
  background: $color-step-3;
  .he-letter {
    background: $color-step-3;
  }
  .he-circle {
    .home-image-step {
      background-image: url('../../content/images/bg_step3.png');
    }
  }
}
.heimg4 {
  background: $color-step-4;
  .home-image-step {
    background-image: url('../../content/images/bg_step4.png');
  }
}
.divider-he {
  position: relative;
  width: 90%;
  height: 1px;
  background-color: $border-light;
  margin-top: 15px;
  margin-bottom: 10px;
}
.home-element:hover {
  .he-img {
    .he-letter {
      left: 0px;
    }
  }
}
// .svg-bottom {
//   position: absolute;
//   width: 100%;
//   height: 14px;
//   bottom: 0;
//   background-color: $border-light;
// }
