<div class="main-container-br">
    <iframe src="https://calendar.google.com/calendar/embed?src=handsomealf%40gmail.com&ctz=America%2FMexico_City" style="border: 0" width="953" height="710" frameborder="0" scrolling="no"></iframe>
</div>
<a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=MDNpM2owOGgxaXVicDJkYjZncTVkbnY1a3EgbHBvbmNlQGdydXBvZWR1Y2FyZS5jb20&amp;tmsrc=lponce%40grupoeducare.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_es.gif"></a>
