// Window Test
.window-br {
  position: relative;
  // width: 96%;
  // max-width: 1400px;
  // max-width: 1900px;
  // height: calc(100% - 20px);
  // margin-top: 10px;
  // border-radius: $border-radius-6;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  // Window Header
  .window-br-header {
    position: relative;
    width: 100%;
    height: 55px;
    // background-color: $window-header-color;
    // border-radius: 6px 6px 0 0;
    background-color: $navbar-light;
    display: flex;
    justify-content: center;
    align-items: center;
    .row-br-header {
      position: relative;
      width: 97%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .r1 {
      position: relative;
      width: 60px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .logo-create {
        position: relative;
        width: 50px;
        height: 50px;
        background-image: url('../../content/images/logo_register.svg');
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
      }
      .logo-home-mini {
        position: relative;
        width: 50px;
        height: 50px;
        background-image: url('../../content/images/logo_register.svg');
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }
    .r2 {
      position: relative;
      width: calc(100% - 120px);
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .windowHeader-title {
        position: relative;
        width: auto;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 15px;
        .icon {
          position: relative;
          margin-right: 10px;
          width: 30px;
          height: 30px;
          background-position: center;
          background-size: 100%;
          background-repeat: no-repeat;
        }
        .icon-step-header {
          position: relative;
          margin-right: 10px;
          width: 30px;
          height: 30px;
          display: flex;
          background-image: url('../../content/images/uma_icon_header.svg');
          background-position: center;
          background-size: 100%;
          background-repeat: no-repeat;
        }
        .whModule {
          background-image: url('../../content/images/module_icon.svg');
        }
        .whBook {
          background-image: url('../../content/images/uma_icon.svg');
        }
        h4 {
          position: relative;
          font-size: 17px;
          font-weight: 600;
          color: $blue-nimbus-dark;
        }
      }
      .disbled-t-header {
        opacity: 0.6;
        h4 {
          font-size: 16px;
          font-weight: 400;
        }
      }
      .c1 {
        position: absolute;
        width: 300px;
        height: auto;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        right: 0px;
        bottom: 20px;
      }
    }
  }

  .window-br-body-topbar {
    position: relative;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $topbar-ligt;

    .line-gradient {
      position: absolute;
      width: 100%;
      height: 3px;
      top: 0;
      left: 0;
      background: rgb(24, 186, 251);
      background: linear-gradient(90deg, rgba(24, 186, 251, 1) 0%, rgba(61, 144, 225, 1) 100%);
    }

    .row-wbr-bt {
      position: relative;
      width: 94%;
      height: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        position: relative;
        font-size: 14px;
        color: #292c36;
        cursor: default;
      }
      form {
      }
    }
  }
  .bg-white {
    background-color: white;
  }
  .topbar-home {
    background-color: $window-body-color;
  }
  .window-br-body-topbar-group {
    position: relative;
    width: 100%;
    height: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $topbar-ligt;

    .line-gradient {
      position: absolute;
      width: 100%;
      height: 3px;
      top: 0;
      left: 0;
      background: rgb(24, 186, 251);
      background: linear-gradient(90deg, rgba(24, 186, 251, 1) 0%, rgba(61, 144, 225, 1) 100%);
    }
  }
}
.lg-step1 {
  background: $color-step-1 !important;
}
.lg-step2 {
  background: $color-step-2 !important;
}
.lg-step3 {
  background: $color-step-3 !important;
}
// Window body
.window-br-body {
  position: relative;
  width: 100%;
  height: calc(100% - 175px);
  background-color: $window-body-color;
  overflow-y: auto;
  padding-bottom: 30px;
}
.window-br-body-group {
  position: relative;
  width: 100%;
  height: calc(100% - 123px);
  background-color: $window-body-color;
}
.window-br-body-full {
  position: relative;
  width: 100%;
  height: calc(100% - 122px);
  background-color: $window-body-color;
}
.window-br-footer {
  position: relative;
  width: 100%;
  height: 65px;
  background-color: $window-footer-color;
  border-top: 1px solid $window-divider-color;
  display: flex;
  justify-content: center;
  align-items: center;
  // border-radius: 0 0 6px 6px;

  button {
    margin-left: 20px;
    margin-right: 20px;
  }
}

// Grid Cards
.grid-cards {
  // max-width: 1300px;
  position: relative;
  height: auto;
  width: 93%;
  margin: 0 auto;
  display: grid;
  -webkit-box-pack: center;
  justify-content: center;
  // grid-template-columns: repeat(auto-fill, 240px);
  grid-template-columns: repeat(auto-fill, 260px);
  // grid-gap: 20px;
  // grid-gap: 25px;
  grid-gap: 35px;
  margin-top: 30px;
}
.box-card {
  position: relative;
  width: 260px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background: white;
  border-radius: 6px;
  border: 1px solid $window-divider-color;
  transition: background 0.4s;
  &:hover {
    // border: 1px solid #18bafb;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      transparent 8.1%,
      rgba(0, 0, 0, 0.001) 15.5%,
      rgba(0, 0, 0, 0.003) 22.5%,
      rgba(0, 0, 0, 0.005) 29%,
      rgba(0, 0, 0, 0.008) 35.3%,
      rgba(0, 0, 0, 0.011) 41.2%,
      rgba(0, 0, 0, 0.014) 47.1%,
      rgba(0, 0, 0, 0.016) 52.9%,
      rgba(0, 0, 0, 0.019) 58.8%,
      rgba(0, 0, 0, 0.022) 64.7%,
      rgba(0, 0, 0, 0.025) 71%,
      rgba(0, 0, 0, 0.027) 77.5%,
      rgba(0, 0, 0, 0.029) 84.5%,
      rgba(0, 0, 0, 0.03) 91.9%,
      rgba(0, 0, 0, 0.03) 100%
    );
    .program-cover-br {
      img {
        width: 106% !important;
      }
    }
  }
}
.box-program {
  height: 230px;
}
.row-content-card {
  position: relative;
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row-buttons-card {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  // border-top: 1px solid $window-divider-color;
}
.cursor-drag {
  cursor: grab !important;
  &:active {
    animation: shake 2s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
    transform: translate3d(0, 0, 0);
  }
}
.module-cover-br-image {
  position: relative;
  width: 70px;
  height: 70px;
  cursor: pointer;
  background: $color-step-1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  span {
    position: relative;
    width: 60px;
    height: 60px;
    background: url('../images/uma_cover_mini.png'), #eaedf4;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
  }
}
.group-cover-br-image {
  position: relative;
  width: 70px;
  height: 70px;
  cursor: pointer;
  background: $color-step-2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  span {
    position: relative;
    width: 60px;
    height: 60px;
    background: url('../images/group_cover_mini.png'), #eaedf4;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
  }
}
.program-cover-br {
  position: relative;
  width: 100%;
  height: 150px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  img {
    position: relative;
    width: 100%;
    height: auto;
    transition: 0.4s ease-in-out;
  }
}
.course-desc-br-row {
  position: relative;
  width: calc(100% - 80px);
  height: auto;
  min-height: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 1;
  margin-left: 10px;

  .title-course-br {
    position: relative;
    width: 100%;
    height: auto;
    font-size: 13px;
    color: $blue-nimbus-dark;
    line-height: 16px;
    font-weight: 400;
    text-align: left;
  }
  .desc-course-br {
    position: relative;
    width: 100%;
    height: auto;
    font-size: 12px;
    text-align: left;
    color: lightslategrey;
    line-height: 12px;
    margin-top: 4px;
  }
}
.program-desc-br-row {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  .cdb-row {
    position: relative;
    width: 92%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title-course-br {
      position: relative;
      width: calc(100% - 90px);
      height: auto;
      font-size: 13px;
      color: $blue-nimbus-dark;
      line-height: 16px;
      font-weight: 400;
      text-align: left;
    }
    .desc-course-br {
      position: relative;
      width: 100%;
      height: auto;
      font-size: 12px;
      text-align: left;
      color: lightslategrey;
      line-height: 12px;
      margin-top: 4px;
    }
    .cdb-buttons {
      position: relative;
      width: 80px;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .delete-course-br {
        margin-right: 0;
      }
    }
  }
}

.delete-course-br {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: $main-btn-color;
  z-index: 2;
  transition: 0.3s;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-right: 10px;
  .icon {
    cursor: pointer;
  }
  &:hover {
    background-color: $main-btn-color-hover;
  }
  &:focus {
    outline: none;
  }
  &:active {
    transform: scale(0.96);
  }
}
.edit-course-br {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: $secondary-btn-color;
  z-index: 2;
  transition: 0.3s;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  .icon {
    cursor: pointer;
  }
  &:hover {
    background-color: $secondary-btn-hover;
  }
  &:focus {
    outline: none;
  }
  &:active {
    transform: scale(0.96);
  }
}
.btn-circle-disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}
.preview-course-br {
  position: absolute;
  // right: 8px;
  // bottom: 35px;
  left: 8px;
  top: 8px;
  // right: 48px;
  width: 30px;
  height: 30px;
  background-color: $secondary-btn-color;
  z-index: 2;
  transition: 0.3s;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  .icon {
    cursor: pointer;
  }
  &:hover {
    background-color: $secondary-btn-hover;
  }
  &:focus {
    outline: none;
  }
  &:active {
    transform: scale(0.96);
  }
}

// Loader
.loader-home {
  position: absolute;
  width: 100%;
  height: calc(100% - 100px);
  // background-color: rgba(255, 255, 255, 0.9);
  background-color: $window-body-color;
  z-index: 3;
  cursor: default;
  border-radius: 0 0 6px 6px;
  top: 100px;
  .loader {
    border: 3.6px solid $blue-nimbus-dark;
  }
}

// Start Search Form
.form-uma-search {
  position: relative;
  width: 230px;
  height: 60px;
  display: flex;
  align-items: center;
  overflow: hidden;
  mat-form-field {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 0px !important;
    .mat-form-field-wrapper {
      margin: 0 !important;
      padding-bottom: 0 !important;
      .mat-form-field-flex {
        .mat-form-field-infix {
          padding: 4px 0 4px 0 !important;
          .mat-form-field-label-wrapper {
            top: -22px !important;
            padding-top: 15px !important;
          }
          input.mat-input-element {
            position: relative !important;
            margin-top: 0px !important;
            top: -3px !important;
          }
        }
        .mat-form-field-appearance-outline {
          padding: 4px 0 4px 0 !important;
        }
      }
    }
  }
}
// New header
.header-breadcrumbs {
  position: relative;
  width: auto;
  display: flex;
  align-items: center;
  .logo-home {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: 26px;
      transition: 0.3s ease-in;
      &:hover {
        color: $main-btn-color-hover;
      }
    }
  }
}
.hb-title {
  position: relative;
  width: auto;
  height: auto;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 600;
  color: $a-color-nd;
}
.hbt-disabled {
  font-size: 16px;
  font-weight: 400;
  color: $a-color-nd;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    opacity: 1;
  }
}
.row-btn-brheader {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
}
.button-hc {
  position: relative;
  width: 100px;
  height: auto;
  cursor: default;
  opacity: 0.8;
  display: flex;
  align-items: center;
  span {
    font-size: 13px;
    font-weight: 600;
    color: $a-color-nd;
  }
  .icon {
    margin-right: 6px;
    cursor: default;
  }
}
.br-tp-subtitle {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  h5 {
    font-size: 16px;
  }
  span {
    position: relative;
    width: 22px;
    height: 22px;
    margin-left: 8px;
    font-size: 13px;
    font-weight: 600;
    color: $blue-nimbus-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    // background: $color-step-1;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
  }
}

// Change border color
.mat-form-field-outline {
  .mat-form-field-outline-start {
    // border: 1px solid silver !important;
  }
  .mat-form-field-outline-gap {
    // border: 1px solid silver !important;
  }
}
.mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0 10px 0 10px;
  margin-top: 0;
  position: relative;
}
// Alineacion placeholder
.mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label,
.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-17px) scale(0.75) !important;
  width: 133.33333%;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 1em 0 1em 0;
}
// Home UMA groups Configurar Agrupador
.container-stepper-group {
  .mat-tab-group {
    .mat-tab-header {
      position: relative;
      width: 100%;
      height: 57px;
      background-color: #eaedf4;
      border-bottom: 0;
    }
    .mat-tab-body-wrapper {
      position: relative;
      width: 100%;
      height: calc(100vh - 245px);
      .mat-tab-body {
        .mat-tab-body-content {
          height: 100%;
          overflow: hidden;
        }
      }
    }
  }
}

.emty-e {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 50%;
  margin-top: -150px;
  left: 50%;
  margin-left: -150px;
  z-index: 3;
}

.container-br-message {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: showMessage 1s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;

  .br-message {
    position: relative;
    width: 250px;
    height: auto;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .brm-1 {
      position: relative;
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

      .br-message-icon {
        position: relative;
        width: 60px;
        height: 60px;
        background-image: url('../../content/images/icn_sessage_hand.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        animation: handshake 2s ease-in-out 2;
      }
    }
    .brm-2 {
      position: relative;
      width: 100%;
      height: 100px;
      text-align: center;
      p {
        color: $blue-nimbus-dark;
        line-height: 22px;
        cursor: default;

        span {
          color: #687c99;
          font-weight: 700;
        }
      }
    }
  }
}
@keyframes showMessage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes handshake {
  0% {
    transform: rotate(0);
  }
  15% {
    transform: rotate(5deg);
  }
  30% {
    transform: rotate(-5deg);
  }
  45% {
    transform: rotate(4deg);
  }
  60% {
    transform: rotate(-4deg);
  }
  75% {
    transform: rotate(2deg);
  }
  85% {
    transform: rotate(-2deg);
  }
  92% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(0px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-1px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(0px, 0, 0);
  }
}
// End Search Form

// Form style Angular material
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: $input-border-hover !important;
}
.alert-nimbus-window {
  position: absolute;
  width: 50%;
  height: 55px;
  // border: 1px solid red;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
