// Window Test
.window-br {
  position: relative;
  width: 96%;
  max-width: 1360px;
  height: calc(100% - 40px);
  margin-top: 20px;
  border-radius: 6px;
  // box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background-color: pink;

  // Window Header
  .window-br-header {
    position: relative;
    width: 100%;
    height: 89px;
    background-color: $window-header-color;
    border-radius: 6px 6px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $window-divider-color;

    .r1 {
      position: relative;
      width: 220px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .logo-create {
        position: relative;
        width: 152px;
        height: 54px;
        background-image: url('../../content/images/logo_create.svg');
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }
    .r2 {
      position: relative;
      width: calc(100% - 220px);
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .windowHeader-title {
        position: relative;
        width: auto;
        height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-left: 2px solid $blue-nimbus-dark;
        padding-left: 20px;
        .icon {
          position: relative;
          margin-right: 10px;
          width: 30px;
          height: 30px;
          background-position: center;
          background-size: 100%;
          background-repeat: no-repeat;
        }
        .whModule {
          background-image: url('../../content/images/module_icon.svg');
        }
        .whBook {
          background-image: url('../../content/images/book_icon.svg');
        }
        h4 {
          position: relative;
          font-size: 17px;
          font-weight: 600;
          color: $blue-nimbus-dark;
        }
      }
      .c1 {
        position: absolute;
        width: 300px;
        height: auto;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        right: 0px;
        bottom: 20px;

        .button-hc {
          position: relative;
          width: 100px;
          height: auto;
          font-size: 13px;
          line-height: 18px;
          font-weight: 600;
          color: $a-color-nd;
          cursor: default;
          opacity: 0.8;
          margin-right: 8px;
          .icon {
            float: left;
            margin-right: 6px;
            cursor: default;
          }
        }
      }
    }
  }

  .window-br-body-topbar {
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaedf4;

    .line-gradient {
      position: absolute;
      width: 100%;
      height: 3px;
      top: 0;
      left: 0;
      background: rgb(24, 186, 251);
      background: linear-gradient(90deg, rgba(24, 186, 251, 1) 0%, rgba(61, 144, 225, 1) 100%);
    }

    .row-wbr-bt {
      position: relative;
      width: 92%;
      height: auto;

      p {
        position: relative;
        font-size: 14px;
        color: #292c36;
        cursor: default;
      }
    }
  }

  // Window body
  .window-br-body {
    position: relative;
    width: 100%;
    height: calc(100% - 215px);
    background-color: $window-body-color;
    overflow-y: auto;
    padding-bottom: 30px;
  }
  .window-br-footer {
    position: relative;
    width: 100%;
    height: 64px;
    background-color: $window-footer-color;
    border-top: 1px solid $window-divider-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 6px 6px;

    button {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}
