.answer-radio {
  width: 20px;
  height: 20px;
}
.row-answer {
  .col-anw {
    .anw-1 {
      .form-nimbus {
        flex-direction: row;

        .input-group {
          input {
            height: 24px;
          }
          .delete-answer {
            position: relative;
            width: 25px !important;
            height: 25px !important;
            // background-color: silver;
            border: none !important;
            background-image: url('../../../../../content/images/icn_delete_trash_blue.svg');
            background-position: center;
            background-size: 23px;
            background-repeat: no-repeat;
          }
          .delete-answer-disabled {
            position: relative;
            width: 25px !important;
            height: 25px !important;
            // background-color: silver;
            border: none !important;
            background-image: url('../../../../../content/images/icn_delete_trash_blue.svg');
            background-color: #dddddd;
            background-position: center;
            background-size: 23px;
            background-repeat: no-repeat;
          }
          .load-image {
            position: relative;
            width: 30px !important;
            height: 25px !important;
            // background-color: silver;
            border: none !important;
            background-image: url('../../../../../content/images/upload_image.png');
            background-position: center;
            background-size: 23px;
            background-repeat: no-repeat;
          }
          .load-audio {
            position: relative;
            width: 30px !important;
            height: 25px !important;
            // background-color: silver;
            border: none !important;
            background-image: url('../../../../../content/images/ab9.png');
            background-position: center;
            background-size: 23px;
            background-repeat: no-repeat;
          }
          .record-audio-start {
            position: relative;
            width: 30px !important;
            height: 25px !important;
            // background-color: silver;
            border: none !important;
            background-image: url('../../../../../content/images/icn_record_play.png');
            background-position: center;
            background-size: 23px;
            background-repeat: no-repeat;
          }
          .record-audio-stop {
            position: relative;
            width: 30px !important;
            height: 25px !important;
            // background-color: silver;
            border: none !important;
            background-image: url('../../../../../content/images/icn_record_stop.png');
            background-position: center;
            background-size: 23px;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}

.disabled-input {
  background-color: #e9ecef !important;
  opacity: 1 !important;
}
