@import '../../../content/scss/variables.scss';

#right-sidebar-grid {
  position: relative;
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
}
.properties-empty {
  position: absolute;
  top: 50%;
  margin-top: -70px;
  left: 50%;
  margin-left: -70px;
  width: 140px;
  height: 140px;
  background-image: url('../../../content/images/properties.png');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
