.answer-radio {
  width: 20px;
  height: 20px;
}
.row-answer {
  .col-anw {
    .anw-1 {
      .form-nimbus {
        flex-direction: row;

        .input-group {
          input {
            height: 24px;
          }
          .delete-answer {
            position: relative;
            width: 25px !important;
            height: 25px !important;
            // background-color: silver;
            border: none !important;
            background-image: url('../../../../../content/images/icn_delete_trash_blue.svg');
            background-position: center;
            background-size: 23px;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}
