<div class="container-tip"
    *ngIf="contentBlock && contentBlock.bloqueComponentes && contentBlock.bloqueComponentes.componentes">

    <ng-container *ngFor="let component of contentBlock.bloqueComponentes.componentes; let index = index;">

        <div *ngIf="component.tipoComponente.nombre === 'image'" class="block-img-tip">
            <jhi-constructor-image [component]="component"
                [templateType]="contentBlock.bloqueComponentes.tipoBloqueComponentes"
                (updateComponent)="onUpdateComponent($event, index)">
            </jhi-constructor-image>
        </div>
        <ng-container *ngIf="component.tipoComponente.nombre === 'text'">
            <div *ngIf="contentBlock && contentBlock.bloqueComponentes.tipoBloqueComponentes" class="block-txt-tip">
                <jhi-visor-text [component]="component"
                    [templateType]="contentBlock.bloqueComponentes.tipoBloqueComponentes"
                    (updateComponent)="onUpdateComponent($event, index)">
                </jhi-visor-text>
            </div>
        </ng-container>

    </ng-container>
</div>