.container-tip {
  position: relative;
  border: solid 1px aqua;

  .block-img-tip {
    border: solid 1px #ccc;
  }

  .block-txt-tip {
    position: absolute;
    top: 325px;
    width: 80%;
    border: dotted 1px #ccc;
    background-color: rgba($color: #fff, $alpha: 0.7);
  }
}
