@import '../../../content/scss/variables.scss';
.form-login {
  position: relative;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  .mat-input {
    position: relative;
    width: 100%;
    height: auto;
  }
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 250px;
}

// btn Login
.row-btn-login-modal {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  .main-btn {
    width: 120px;
    height: 36px;
  }
}
.row-cfl-register {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 30px;
  p {
    margin-right: 10px;
  }
  a {
    position: relative;
    width: auto;
    height: auto;
    font-size: 14px;
    cursor: pointer;
    color: $a-color-nd;
    font-weight: 600;
    transition: 0.3s;
    &:hover {
      color: $a-color-nd-hover;
    }
    @include smartphone {
      font-size: 12px;
    }
  }
}
