.form-login {
  position: relative;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;

  .form-login input {
    position: relative;
    width: 100%;
    height: 38px;
    /*background-color: white;*/
    border: 0;
    border-radius: 10px;
    // border: 2px solid #e1e4e8;
    outline: none;
    padding-left: 12px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.mat-input {
  position: relative;
  width: 80%;
  height: auto;
  left: 40px;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 250px;
}
